{{ define "main" }}
    {{ with .Params }}
        <main id="main">
            <section class="contact__background">
                <div class="contact__container">
                    <h1 class="contact__title">{{ .Title }}</h1>
                    <form class="contact__form" data-netlify="true" method="POST" name="quote" action="/#contact">
                        <input name="name" type="text" id="name" required placeholder="name">
                        <input name="email" type="email" id="email" required placeholder="email">
                        <textarea class="data-hj-allow" name="message" id="message" rows="6" required placeholder="message"></textarea>
                        <button type="submit">send</button>
                    </form>
                </div>
                <video style="width:100%;height:auto" autoplay>
                    <source src="https://res.cloudinary.com/ddtcgm4kc/video/upload/v1650822393/production_ID_3818213_vxlvyj.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                <!--Waves Container-->
                    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                    <defs>
                    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                    </defs>
                    <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" />
                    <use xlink:href="#gentle-wave" x="48" y="3" />
                    <use xlink:href="#gentle-wave" x="48" y="5" />
                    <use xlink:href="#gentle-wave" x="48" y="7" />
                    </g>
                    </svg>
                <!--Waves end-->
            </section>
        </main>
    {{ end }}
{{ end }}

