{{ partial "header.html" . }}
<div class="b-post__background">
    <div class="b-post__container">
        <h1 class="b-post__title">{{ .Title }}</h1>
        <div class="b-hero__image">
            <div style='background-image: url("{{ .Params.image }}")'></div>
        </div>
        <div id="blog" class="b-post__description">{{ .Params.Description | markdownify }}</div>
        <section class="b-post__social-shares">
          <h2 class="b-post__social-shares-title">SHARE</h2>
          <div class="b-post__social-shares_container">
            <a class="b-post__social-media-image" target="_blank" href="https://pinterest.com/pin/create/button/?url={{ .Permalink }}&media={{ .Params.social_media_image }}&description=" target="popup" onclick="window.open('https://pinterest.com/pin/create/button/?url={{ .Permalink }}&media={{ .Params.social_media_image }}&description=','popup','width=600,height=757,scrollbars=no,resizable=no'); return false;">
              <span class="b-post__pinterest">Save</span>
              <img src="{{ .Params.social_media_image }}">
            </a>
            <ul class="b-post__social-shares-list">
              <!-- FACEBOOK -->
              <li class="b-post__social-shares-item">
                <a id="facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="popup" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;"></a>
              </li>
              <!-- TWITTER -->
              <li class="b-post__social-shares-item">
                <a id="twitter" target="_blank" href="https://twitter.com/intent/tweet?text={{ .Permalink }}" target="popup" onclick="window.open('https://twitter.com/intent/tweet?text={{ .Permalink }}','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;"></a>
              </li>
              <!-- EMAIL -->
              <li class="b-post__social-shares-item">
                <a id="email" target="_blank" href="mailto:?subject=ASUNTO&amp;body=BODY" target="popup" onclick="window.open('mailto:?subject=ASUNTO&amp;body=BODY','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;"></a>
              </li>
              <!-- LINKEDIN -->
              <li class="b-post__social-shares-item">
                <a id="linkedin" target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ .Permalink }}&title={{ .Title }}" target="popup" onclick="window.open('https://www.linkedin.com/sharing/share-offsite/?url={{ .Permalink }}&title={{ .Title }}','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;"></a>
              </li>
              <!-- WHATSAPP -->
              <li class="b-post__social-shares-item">
                <a id="whatsapp" target="_blank" href="https://api.whatsapp.com/send?text={{ .Permalink }}" target="_blank"></a>
              </li>
              <!-- REDDIT -->
              <li class="b-post__social-shares-item">
                <a id="reddit" target="_blank" href="http://www.reddit.com/submit?url={{ .Permalink }}"></a>
              </li>
            </ul>
          </div>
        </section>
        <div id="graphcomment">
            <h2 class="b-post-comment__title">COMMENT</h2>
        </div>
        <script type="text/javascript">

        /* - - - CONFIGURATION VARIABLES - - - */

        // make sure the id is yours
        window.gc_params = {
            graphcomment_id: 'Paloma-Chiara',

            // if your website has a fixed header, indicate it's height in pixels
            fixed_header_height: 0,
        };

        /* - - - DON'T EDIT BELOW THIS LINE - - - */
        
        (function() {
            var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
            gc.src = 'https://graphcomment.com/js/integration.js?' + Math.round(Math.random() * 1e8);
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
        })();

        </script>
    </div>
</div>
{{ partial "newsletter.html" . }}
{{ partial "instagram.html" . }}
{{ partial "footer.html" . }}
<!-- JSON-LD markup generated by Google Structured Data Markup Helper. -->
<script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "Article",
    "name" : "{{ .Title }}",
    "author" : {
      "@type" : "Person",
      "name" : "Paloma Chiara"
    },
    "datePublished" : "{{ .Date.Format "2006-01-02" }}",
    "image" : "{{ .Params.image }}",
    "articleBody" : "{{ .Params.Description }}",
    "url" : "{{ .RelPermalink }}",
    "publisher" : {
      "@type" : "Organization",
      "name" : "Paloma Chiara"
    }
  }
</script>
