{{ define "main" }}
  {{ with .Params }}
    <main class="b-services-page__background">
      <div class="b-services-page__container">
        <div class="b-services-page__hero-background">
          <div class="b-services-page__hero">
            <div class="b-services-page__txt">
              <h1 class="b-services-page__title">{{ .title }}</h1>
              {{ partial "utilities/markdownify-block" .description | replaceRE "<p>" "<p class=\"b-services-page__text\">" | safeHTML }}
            </div>
            <img alt="{{ .title }}" title="{{ .title }}" class="b-services-page__image" src="{{ .image | relURL }}">
          </div>
        </div>
        <ul class="b-services-page__list">
          {{ range . }}
            {{ if (reflect.IsMap .) }}
              {{ if (.enable) }}
                <li>
                  <div class="b-services-page__txt">
                    <h2 class="b-services-page__subheading">{{ .title }}</h2>
                    {{ partial "utilities/markdownify-block" .text | replaceRE "<p>" "<p class=\"b-services-page__text\">" | safeHTML }}
                  </div>
                  <img alt="{{ .title }}" title="{{ .title }}" class="b-services-page__image" src="{{ .icon }}">
                </li>
              {{ end }}
            {{ end }}
          {{ end }}
        </ul>
      </div>
    </main>
  {{ end }}
{{ end }}