{{ with (index .Site.Data .Site.Language.Lang).cta }}
	<section class="cta__background">
		<div class="cta__container">
			<div>
				<h2 class="cta__title">{{ .title }}</h4>
				<p class="cta__p">{{ .description }}</p>
				<a href="{{ .button_link }}" class="cta__btn">{{ .button_text }}</a>
			</div>
			<img class="cta__img" src="https://res.cloudinary.com/ddtcgm4kc/image/upload/v1651568239/Kaliriu/Design/Illustration-22.svg" alt="{{ .title }}" />
		</div>
		<div class="night" style="display: none;">
			<div class="shooting_star"></div>
			<div class="shooting_star"></div>
			<div class="shooting_star"></div>
			<div class="shooting_star"></div>
			<div class="shooting_star"></div>
			<div class="shooting_star"></div>
			<div class="shooting_star"></div>
			<div class="shooting_star"></div>
			<div class="shooting_star"></div>
			<div class="shooting_star"></div>
		</div>
	</section>
{{ end }}