<header id="header" class="header">
  <div class="header__container">
    <a href="/{{ .Site.Language.Lang }}/" aria-label="Kaliriu">
        <img src="https://res.cloudinary.com/ddtcgm4kc/image/upload/v1649273027/Kaliriu/Logo/Blanco.svg" class="header__logo-white" role="presentation" />
    </a>

    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>

    <ul class="header-nav">
      {{- $currentPage := . -}}
      {{ range .Site.Menus.main -}}
      <li class='header-nav__list-item {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}'>
          <a class="header-nav__list-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
      </li>
      {{- end }}
    </ul>

    {{ partial "language-selector" . }}

  </div>
</header>
