{{ if .IsTranslated }}
  <div class="language-selector" onclick="void(0)">
    <div class="current-language">{{ .Language.LanguageName }}</div>
    <ul class="available-languages">
      {{ $currentLanguage := .Language }}
      {{ range .AllTranslations }}
        {{ if not (eq .Language $currentLanguage) }}
          <li class="language-item">
            <a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
{{ end }}
