{{ define "main" }}
  {{ with .Params }}
    <main id="main">

      <section class="home-page__hero-background">
        <div class="home-page__hero-container">
          <h1 class="home-page__hero-title">{{ .title }}</h1>
          <p class="home-page__hero-p">{{ .description }}</p>
          <div class="home-page__hero-btn">
            <a class="home-page__hero-btn-secondary" href="{{ .button_secondary.link }}">{{ .button_secondary.link_text }}</a>
            <a class="home-page__hero-btn-primary" href="{{ .button_primary.link }}">{{ .button_primary.link_text }}</a>
          </div>
        </div>
        <canvas id="canvas"></canvas>
        <!--Waves Container-->
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" />
        <use xlink:href="#gentle-wave" x="48" y="3" />
        <use xlink:href="#gentle-wave" x="48" y="5" />
        <use xlink:href="#gentle-wave" x="48" y="7" />
        </g>
        </svg>
        <!--Waves end-->
      </section>
      
      <section class="home-page__background-gradient">

        <section class="home-page__product-background">
          <div class="home-page__product-container">
            <h2 class="home-page__product-title">{{ .projects.title }}</h2>
            <ul class="home-page__product-list">
              <li style="background-image: url('https://res.cloudinary.com/ddtcgm4kc/image/upload/v1651857979/Kaliriu/Projects/Paladria-1.jpg');"></li>
              <li style="background-image: url('https://res.cloudinary.com/ddtcgm4kc/image/upload/v1652297466/Kaliriu/Projects/Chiara-1.jpg');"></li>
              <li style="background-image: url('https://res.cloudinary.com/ddtcgm4kc/image/upload/v1652297602/Kaliriu/Projects/Pascual-1.jpg');"></li>
              <li style="background-image: url('https://res.cloudinary.com/ddtcgm4kc/image/upload/v1651568302/Kaliriu/Projects/Paladria-1.jpg');"></li>
            </ul>
            <a href="{{ .projects.link }}" class="home-page__product-btn" title="{{ .projects.link_text }}">{{ .projects.link_text }}</a>
          </div>
        </section>

        <section class="home-page__benefits-background">
          <div class="home-page__benefits-container">
            <img class="home-page__benefits-img" src="https://res.cloudinary.com/ddtcgm4kc/image/upload/v1651568238/Kaliriu/Design/Illustration1.svg" role="presentation" alt="{{ .title }}" />
            <ul class="home-page__benefits-list">
              <li>
                <div>
                  <img src="https://res.cloudinary.com/ddtcgm4kc/image/upload/v1652801140/Kaliriu/Design/calidad.svg" alt="{{ .benefits.title_1 }}" />
                  <h3>{{ .benefits.title_1 }}</h3>
                  <p>{{ .benefits.description_1 }}</p>
                </div>
              </li>
              <li>
                <div>
                  <img src="https://res.cloudinary.com/ddtcgm4kc/image/upload/v1651568238/Kaliriu/Design/experiencia.svg" alt="{{ .benefits.title_2 }}" />
                  <h3>{{ .benefits.title_2 }}</h3>
                  <p>{{ .benefits.description_2 }}</p>
                </div>
              </li>
              <li>
                <div>
                  <img src="https://res.cloudinary.com/ddtcgm4kc/image/upload/v1651568238/Kaliriu/Design/rapido.svg" alt="{{ .benefits.title_3 }}" />
                  <h3>{{ .benefits.title_3 }}</h3>
                  <p>{{ .benefits.description_3 }}</p>
                </div>
              </li>
              <li>
                <div>
                  <img src="https://res.cloudinary.com/ddtcgm4kc/image/upload/v1651568238/Kaliriu/Design/cliente.svg" alt="{{ .benefits.title_4 }}" />
                  <h3>{{ .benefits.title_4 }}</h3>
                  <p>{{ .benefits.description_4 }}</p>
                </div>
              </li>
            </ul>
          </div>
        </section>

        <section class="home-page__steps-background">
          <div class="home-page__steps-container">
            <h2 class="home-page__steps-title">{{ .steps.title }}</h2>
            <p class="home-page__steps-p">{{ .steps.description }}</p>
            <ul class="home-page__steps-list">
              <li>
                <div>
                  <h3>{{ .steps.step_1_title }}</h3>
                  <p>{{ .steps.step_1_description }}</p>
                </div>
              </li>
              <li>
                <div>
                  <h3>{{ .steps.step_2_title }}</h3>
                  <p>{{ .steps.step_2_description }}</p>
                </div>
              </li>
              <li>
                <div>
                  <h3>{{ .steps.step_3_title }}</h3>
                  <p>{{ .steps.step_3_description }}</p>
                </div>
              </li>
              <li>
                <div>
                  <h3>{{ .steps.step_4_title }}</h3>
                  <p>{{ .steps.step_4_description }}</p>
                </div>
              </li>
            </ul>
          </div>
        </section>

      </section>

    </main>
  {{ end }}
  {{ partial "cta" . }}
  {{ partial "faq" . }}

  <script>
    /* CONFIRMATION PAGE */
    function Star(id, x, y){
    this.id = id;
    this.x = x;
    this.y = y;
    this.r = Math.floor(Math.random()*2)+1;
    var alpha = (Math.floor(Math.random()*10)+1)/10/2;
    this.color = "rgba(255,255,255,"+alpha+")";
  }
  Star.prototype.draw = function() {
    ctx.fillStyle = this.color;
    ctx.shadowBlur = this.r * 2;
    ctx.beginPath();
    ctx.arc(this.x, this.y, this.r, 0, 2 * Math.PI, false);
    ctx.closePath();
    ctx.fill();
  }
  Star.prototype.move = function() {
    this.y -= .15 + params.backgroundSpeed/100;
    if (this.y <= -10) this.y = HEIGHT + 10;
    this.draw();
  }
  function Dot(id, x, y, r) {
    this.id = id;
    this.x = x;
    this.y = y;
    this.r = Math.floor(Math.random()*5)+1;
    this.maxLinks = 2;
    this.speed = .5;
    this.a = .5;
    this.aReduction = .005;
    this.color = "rgba(255,255,255,"+this.a+")";
    this.linkColor = "rgba(255,255,255,"+this.a/4+")";
    this.dir = Math.floor(Math.random()*140)+200;
  }
  Dot.prototype.draw = function() {
    ctx.fillStyle = this.color;
    ctx.shadowBlur = this.r * 2;
    ctx.beginPath();
    ctx.arc(this.x, this.y, this.r, 0, 2 * Math.PI, false);
    ctx.closePath();
    ctx.fill();
  }
  Dot.prototype.link = function() {
    if (this.id == 0) return;
    var previousDot1 = getPreviousDot(this.id, 1);
    var previousDot2 = getPreviousDot(this.id, 2);
    var previousDot3 = getPreviousDot(this.id, 3);
    if (!previousDot1) return;
    ctx.strokeStyle = this.linkColor;
    ctx.moveTo(previousDot1.x, previousDot1.y);
    ctx.beginPath();
    ctx.lineTo(this.x, this.y);
    if (previousDot2 != false) ctx.lineTo(previousDot2.x, previousDot2.y);
    if (previousDot3 != false) ctx.lineTo(previousDot3.x, previousDot3.y);
    ctx.stroke();
    ctx.closePath();
  }
  function getPreviousDot(id, stepback) {
    if (id == 0 || id - stepback < 0) return false;
    if (typeof dots[id - stepback] != "undefined") return dots[id - stepback];
    else return false;//getPreviousDot(id - stepback);
  }
  Dot.prototype.move = function() {
    this.a -= this.aReduction;
    if (this.a <= 0) {
      this.die();
      return
    }
    this.color = "rgba(255,255,255,"+this.a+")";
    this.linkColor = "rgba(255,255,255,"+this.a/4+")";
    this.x = this.x + Math.cos(degToRad(this.dir))*(this.speed+params.dotsSpeed/100),
    this.y = this.y + Math.sin(degToRad(this.dir))*(this.speed+params.dotsSpeed/100);

    this.draw();
    this.link();
  }

  Dot.prototype.die = function() {
      dots[this.id] = null;
      delete dots[this.id];
  }


  var canvas  = document.getElementById('canvas'),
    ctx = canvas.getContext('2d'),
    WIDTH,
    HEIGHT,
    mouseMoving = false,
    mouseMoveChecker,
    mouseX,
    mouseY,
    stars = [],
    initStarsPopulation = 80,
    dots = [],
    dotsMinDist = 2,
    params = {
      maxDistFromCursor: 50,
      dotsSpeed: 0,
      backgroundSpeed: 0
    };

  var gui;
  gui = new dat.GUI();
  gui.add(params, 'maxDistFromCursor').min(0).max(100).step(10).name('Size');
  gui.add(params, 'dotsSpeed').min(0).max(100).step(.5).name('Speed');
  gui.add(params, 'backgroundSpeed').min(0).max(150).step(1).name('Sky speed');
  gui.open();

  setCanvasSize();
  init();

  function setCanvasSize() {
    WIDTH = document.documentElement.clientWidth,
      HEIGHT = document.documentElement.clientHeight;                      

    canvas.setAttribute("width", WIDTH);
    canvas.setAttribute("height", HEIGHT);
  }

  function init() {
    ctx.strokeStyle = "white";
    ctx.shadowColor = "white";
    for (var i = 0; i < initStarsPopulation; i++) {
      stars[i] = new Star(i, Math.floor(Math.random()*WIDTH), Math.floor(Math.random()*HEIGHT));
      //stars[i].draw();
    }
    ctx.shadowBlur = 0;
    animate();
  }

  function animate() {
      ctx.clearRect(0, 0, WIDTH, HEIGHT);

      for (var i in stars) {
        stars[i].move();
      }
      for (var i in dots) {
        dots[i].move();
      }
      drawIfMouseMoving();
      requestAnimationFrame(animate);
  }

  window.onmousemove = function(e){
    mouseMoving = true;
    mouseX = e.clientX;
    mouseY = e.clientY;
    clearInterval(mouseMoveChecker);
    mouseMoveChecker = setTimeout(function() {
      mouseMoving = false;
    }, 100);
  }


  function drawIfMouseMoving(){
    if (!mouseMoving) return;

    if (dots.length == 0) {
      dots[0] = new Dot(0, mouseX, mouseY);
      dots[0].draw();
      return;
    }

    var previousDot = getPreviousDot(dots.length, 1);
    var prevX = previousDot.x; 
    var prevY = previousDot.y; 

    var diffX = Math.abs(prevX - mouseX);
    var diffY = Math.abs(prevY - mouseY);

    if (diffX < dotsMinDist || diffY < dotsMinDist) return;

    var xVariation = Math.random() > .5 ? -1 : 1;
    xVariation = xVariation*Math.floor(Math.random()*params.maxDistFromCursor)+1;
    var yVariation = Math.random() > .5 ? -1 : 1;
    yVariation = yVariation*Math.floor(Math.random()*params.maxDistFromCursor)+1;
    dots[dots.length] = new Dot(dots.length, mouseX+xVariation, mouseY+yVariation);
    dots[dots.length-1].draw();
    dots[dots.length-1].link();
  }
  //setInterval(drawIfMouseMoving, 17);

  function degToRad(deg) {
    return deg * (Math.PI / 180);
  }

</script>

{{ end }}