{{ define "main" }}
  {{ with .Params }}
    <main id="main">

      <section class="home-page__hero-background">
        <div class="home-page__hero-container">
          <h1 class="home-page__hero-title">{{ .title }}</h1>
          <p class="home-page__hero-p">{{ .description }}</p>
        </div>
        <!--Waves Container-->
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" />
        <use xlink:href="#gentle-wave" x="48" y="3" />
        <use xlink:href="#gentle-wave" x="48" y="5" />
        <use xlink:href="#gentle-wave" x="48" y="7" />
        </g>
        </svg>
        <!--Waves end-->
      </section>
      
      <section class="home-page__background-gradient">

        <section class="home-page__product-background">
          <div class="home-page__product-container">
            <h2 class="home-page__product-title">{{ .projects.title }}</h2>
            <ul class="home-page__product-list">
              <li style="background-image: url('https://res.cloudinary.com/ddtcgm4kc/image/upload/v1649273027/Kaliriu/Logo/Blanco.svg');"></li>
            </ul>
            <a href="/projects" class="home-page__product-btn" title="{{ .projects.button }}">{{ .projects.button }}</a>
          </div>
        </section>

        <section class="home-page__benefits-background">
          <div class="home-page__benefits-container">
            <img src="https://res.cloudinary.com/ddtcgm4kc/image/upload/v1649273027/Kaliriu/Logo/Blanco.svg" class="header__logo-white" role="presentation" />
            <ul class="home-page__benefits-list">
              <li>
                <div>
                  <h2>{{ .benefits.title_1 }}</h2>
                  <p>{{ .benefits.description_1 }}</p>
                </div>
              </li>
              <li>
                <div>
                  <h2>{{ .benefits.title_2 }}</h2>
                  <p>{{ .benefits.description_2 }}</p>
                </div>
              </li>
              <li>
                <div>
                  <h2>{{ .benefits.title_3 }}</h2>
                  <p>{{ .benefits.description_3 }}</p>
                </div>
              </li>
              <li>
                <div>
                  <h2>{{ .benefits.title_4 }}</h2>
                  <p>{{ .benefits.description_4 }}</p>
                </div>
              </li>
            </ul>
          </div>
        </section>

        <section class="home-page__steps-background">
          <div class="home-page__steps-container">
            <h2 class="home-page__steps-title">Lorem ipsum dolor sit amet consectetur</h2>
            <p class="home-page__steps-p">adipisicing elit. Explicabo, in! Assumenda optio distinctio aliquam modi quae quisquam</p>
            <ul class="home-page__steps-list">
              <li>
                <div>
                  <h3>Title</h3>
                  <p>Description</p>
                </div>
              </li>
              <li>
                <div>
                  <h3>Title</h3>
                  <p>Description</p>
                </div>
              </li>
              <li>
                <div>
                  <h3>Title</h3>
                  <p>Description</p>
                </div>
              </li>
              <li>
                <div>
                  <h3>Title</h3>
                  <p>Description</p>
                </div>
              </li>
            </ul>
          </div>
        </section>

        <section class="home-page__cta-background">
          <div class="home-page__cta-container">
            <div>
              <h4 class="home-page__cta-title">Title</h4>
              <p class="home-page__cta-p">Description</p>
              <a class="home-page__cta-btn">Button</a>
            </div>
            <img src="https://res.cloudinary.com/ddtcgm4kc/image/upload/v1649273027/Kaliriu/Logo/Blanco.svg" class="header__logo-white" role="presentation" />
          </div>
        </section>

      </section>

    </main>
  {{ end }}
{{ end }}