body {
  background-color:  #f2f2f2;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  font-variant-ligatures: none;
  font-weight: 400;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-font-variant-ligatures: none;
  -webkit-text-size-adjust: 100%;
  color: #595959;
}

a {
  display: inline-block;
}

a:hover {
  transition: 0.3s;
}


ul {
  list-style: none;
}

.b-cookie {
  display: none;
  width: 100%;
  max-width: 960px;
  padding: 0 20px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.b-cookie__container {
  background-color:  #f2f2f2;
  box-shadow: 0 1px 20px -5px rgba(50,50,93,.25), 0 2px 9px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
  padding: 30px 20px;
  border-radius: 3px 3px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.is-noConsent .b-cookie {
  display: block;
}

.b-cookie__text {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}

.b-cookie__button {
  margin-left: 30px;
  padding: 7px 14px;
  border: 3px solid #595959;
  background-color: #ffffffdb;
  color: #595959;
  font-weight: 600;
  letter-spacing: .5px;
  font-size: 17px;
  white-space: nowrap;
}

.b-header {
  background-color: #f2f2f2ed;
  border-bottom: 1px solid #5959590f;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

.b-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  max-width: 960px;
  width: 100%;
  margin: auto;
}
