body {
  background-color: white;
}
:root {
  --primary: #3870E0;
  --secondary: #37bdde;
}
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  font-smoothing: antialiased;
  font-variant-ligatures: none;
  font-weight: 400;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-font-variant-ligatures: none;
  -webkit-text-size-adjust: 100%;
  color: #4B5055;
}
button {
  cursor: pointer;
}
ul {
  list-style: none;
}
a {
  transition: 0.5s;
}
/* PARTIAL - HEADER ********************************/
.b-header {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: transparent;
}
#header.fade-in{
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgb(243, 243, 243);
}
.b-header__logo{
  display: none;
}
#header.fade-in .b-header__logo-white{
  display: none;
}
#header.fade-in .b-header__logo{
  display: block;
}
.b-header__container {
  align-items: center;
  display: flex;
  height: 100%;
  padding: 15px 20px;
}
.b-header__logo-white,
.b-header__logo {
  width: 170px;
}
.b-header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-left: auto;
  overflow: hidden;
  clear: none;
  float: right;
  max-height: none;
}
.b-header-nav__list-item {
  margin-left: 30px;
}
.b-header-nav__list-link {
  font-size: 16px;
  letter-spacing: 1.6px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--primary);
}
#header.fade-in .b-header-nav__list-link{
  color: var(--primary);
}
.menu-icon {
  cursor: pointer;
  display: none;
  float: right;
  position: relative;
  margin-left: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.menu-icon .navicon {
  background: var(--primary);
  display: block;
  height: 4px;
  position: relative;
  transition: background .2s ease-out;
  width: 37px;
  border-radius: 100px;
}
.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background: var(--primary);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
  border-radius: 100px;
}
.menu-icon .navicon:before {
  top: 10px;
}
.menu-icon .navicon:after {
  top: -10px;
}
.menu-btn {
  display: none;
}
.menu-btn:checked ~ .b-header-nav {
  max-height: 240px;
}
#header.fade-in .menu-icon .navicon,
#header.fade-in .menu-icon .navicon:before,
#header.fade-in .menu-icon .navicon:after{
  background: var(--primary);
}
#header.fade-in .menu-btn:checked ~ .menu-icon .navicon,
.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* PARTIAL - COOKIES ********************************/
.b-cookie {
  display: none;
  box-shadow: 0 1px 20px -5px rgba(56, 112, 224,.25), 0 2px 9px -8px rgba(56, 112, 224,.3), 0 -6px 16px -6px rgba(56, 112, 224,.025);
  background-color: #f9f9fa;
  padding: 30px;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 12px;
  z-index: 999;
}
.is-noConsent .b-cookie {
  display: block;
}
.b-cookie__text {
  margin-bottom: 20px;
}

/* PAGE - BASIC ********************************/
.b-basic-page__background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
}
.b-basic-page__container {
  max-width: 960px;
  width: 100%;
  margin: auto;
  padding: 55px 20px;
}
.b-basic-page__title {
  margin: 0 auto 35px;
}
.b-basic-page__subtitle {
  margin-bottom: 0;
}