{{ define "main" }}
  <main class="l-post">
    <div class="b-post__title-background">
      <div class="b-post__title-container">
        <h1 class="b-post__title">{{ .Title }}</h1>
        <img alt="{{ .Title }}" title="{{ .Title }}" class="b-post__image" src="https://res.cloudinary.com/drs4ol5tl/image/upload/v1612820906/assets/2_iizhcw.svg">
      </div>
    </div>
    <div class="b-post__container">
      <article id="blog" class="b-post">
        {{ .Content | replaceRE "<h2 " "<h2 class=\"b-post__subheading\"" | replaceRE "<p>" "<p class=\"b-post__text\">" | safeHTML }}
        {{ if isset .Params "author" }}
        <p class="b-post__author"><span>{{ T "author" }}:</span><span>{{ .Params.author }}</span></p>
        {{ end }}
      </article>
      <aside class="b-post-sidebar">
        <div class="l-post-sidebar__flex-container">
          {{ with .Site.GetPage "/blog" }}
            <section class="b-post-sidebar__recent">
              <p class="b-post-sidebar__recent-title">{{ T "recent-posts" }}</p>
              <ul class="b-post-sidebar__recent-list">
                  <!-- orders content according to the "date" field in front matter -->
                  {{ range first 5 (where site.RegularPages "Type" "in" site.Params.mainSections).ByDate.Reverse }}
                      <li class="b-post-sidebar__recent-item">
                          <a class="b-post-sidebar__recent-item-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
                      </li>
                  {{ end }}
              </ul>
              <a class="b-post-sidebar__recent-action" href="/{{ .Site.Language }}/{{ .Section }}">Blog</a>
            </section>
          {{ end }}

          <section class="b-post-sidebar__banner">
            <a title="pinterest" rel="noreferrer nofollow" target="_blank" href="https://pinterest.com/pin/create/button/?url={{ .Permalink }}&media={{ .Params.sidebar_image }}&description=" target="popup" onclick="window.open('https://pinterest.com/pin/create/button/?url={{ .Permalink }}&media={{ .Params.sidebar_image }}&description=','popup','width=600,height=757,scrollbars=no,resizable=no'); return false;">
              <span class="b-post-sidebar__pinterest">Save</span>
              <img alt="pinterest" title="pinterest" class="b-post-sidebar__banner-image" src="{{ .Params.sidebar_image }}">
            </a>
          </section>

        </div>
        {{ $currentPermalink := .Permalink }}
        {{ $currentTitle := .Title }}
        {{ with .Site.GetPage "/blog" }}
          <section class="b-post-sidebar__social">
            <p class="b-post-sidebar__social-title">{{ T "share" }}</p>
            <ul class="b-post-sidebar__social-list">
              <!-- FACEBOOK -->
              <li class="b-post-sidebar__social-item">
                <a title="facebook" rel="noreferrer nofollow" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ $currentPermalink }}" target="popup" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{ $currentPermalink }}','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;"><img class="b-post-sidebar__social-item-image" src="https://res.cloudinary.com/drs4ol5tl/image/upload/v1584727357/facebook_ks8kni.svg" alt="share-facebook"></a>
              </li>
              <!-- TWITTER -->
              <li class="b-post-sidebar__social-item">
                <a title="twitter" rel="noreferrer nofollow" target="_blank" href="https://twitter.com/intent/tweet?text={{ $currentPermalink }}" target="popup" onclick="window.open('https://twitter.com/intent/tweet?text={{ $currentPermalink }}','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;"><img class="b-post-sidebar__social-item-image" src="https://res.cloudinary.com/drs4ol5tl/image/upload/v1584726217/twitter_holxm6.svg" alt="share-twitter"></a>
              </li>
              <!-- EMAIL -->
              <li class="b-post-sidebar__social-item">
                <a title="email" rel="noreferrer nofollow" target="_blank" href="mailto:?subject=ASUNTO&amp;body=BODY" target="popup" onclick="window.open('mailto:?subject=ASUNTO&amp;body=BODY','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;"><img class="b-post-sidebar__social-item-image" src="https://res.cloudinary.com/drs4ol5tl/image/upload/v1584726237/mail_vvrzcx.svg" alt="share-email"></a>
              </li>
              <!-- LINKEDIN -->
              <li class="b-post-sidebar__social-item">
                <a title="linkedin" rel="noreferrer nofollow" target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ $currentPermalink }}&title={{ $currentTitle }}" target="popup" onclick="window.open('https://www.linkedin.com/sharing/share-offsite/?url={{ $currentPermalink }}&title={{ $currentTitle }}','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;"><img class="b-post-sidebar__social-item-image" src="https://res.cloudinary.com/drs4ol5tl/image/upload/v1584727633/linkedin_wslw8h.svg" alt="share-linkedin"></a>
              </li>
            </ul>
          </section>
        {{ end }}
      </aside>
      <div id="graphcomment"></div>
        <script type="text/javascript">
          /* - - - CONFIGURATION VARIABLES - - - */
          // make sure the id is yours
          window.gc_params = {
            graphcomment_id: 'Paladria',
            // if your website has a fixed header, indicate it's height in pixels
            fixed_header_height: 0,
          };
          /* - - - DON'T EDIT BELOW THIS LINE - - - */
          (function() {
            var gc = document.createElement('script'); gc.type = 'text/javascript'; gc.async = true;
            gc.src = 'https://graphcomment.com/js/integration.js?' + Math.round(Math.random() * 1e8);
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(gc);
          })();
        </script>
    </div>
  </main>
  {{ partial "bottom-cta" . }}
  {{ partial "newsletter" . }}
  <!-- JSON-LD markup generated by Google Structured Data Markup Helper. -->
  <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Article",
      "name" : "{{ .Title }}",
      "author" : {
        "@type" : "Person",
        "name" : "{{ .Params.author }}"
      },
      "datePublished" : "{{ .Date.Format "2006-01-02" }}",
      "image" : "{{ .Params.sidebar_image }}",
      "articleBody" : "{{ .Params.meta_description }}",
      "url" : "{{ .RelPermalink }}",
      "publisher" : {
        "@type" : "Organization",
        "name" : "©PALADRIA"
      }
    }
  </script>
{{ end }}




