{{ define "main" }}
    {{ with .Params }}
        <main id="main">
            <section class="projects__header-background">
                <div class="projects__header-container">
                    <h1 class="projects__header-title">{{ .Title }}</h1>
                </div>
                <!--Waves Container-->
                    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                    <defs>
                    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                    </defs>
                    <g class="parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" />
                    <use xlink:href="#gentle-wave" x="48" y="3" />
                    <use xlink:href="#gentle-wave" x="48" y="5" />
                    <use xlink:href="#gentle-wave" x="48" y="7" />
                    </g>
                    </svg>
                <!--Waves end-->
            </section>

            <section class="projects__list-background">
                <div class="projects__list-container">
                    <ul class="projects__list">
                        {{ range .projects }}
                            <li style="background-image: url('https://res.cloudinary.com/ddtcgm4kc/image/upload{{ .img | relURL }}')">
                                <h2>{{ .title }}</h2>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            </section>

        </main>
    {{ end }}
{{ end }}

