{{ $page := .Page }}

{{ with (index .Site.Data .Site.Language.Lang).footer }}

  <footer class="b-footer">
    <section class="b-footer__section b-footer__section--logo" style="background-image: url(https://res.cloudinary.com/drs4ol5tl/image/upload/v1592054485/Asset_50_500x_hws3mm.svg)">
    </section>

    <section class="b-footer__section">
      <p class="b-footer__section-title">{{ .group_1.title }}</p>
      <ul class="b-footer__list">
        <li class="b-footer__list-item"><a {{ printf "href=%q" .group_1.item_1_link | safeHTMLAttr }}>{{ .group_1.item_1 }}</a></li>
        <li class="b-footer__list-item"><a href="{{ .group_1.item_2_link }}">{{ .group_1.item_2 }}</a></li>
        <li class="b-footer__list-item"><a href="{{ .group_1.item_3_link }}">{{ .group_1.item_3 }}</a></li>
      </ul>
    </section>

    <section class="b-footer__section">
      <p class="b-footer__section-title">{{ .group_2.title }}</p>
      <ul class="b-footer__list">
        <li class="b-footer__list-item"><a href="{{ .group_2.item_1_link }}">{{ .group_2.item_1 }}</a></li>
        <li class="b-footer__list-item"><a href="{{ .group_2.item_2_link }}">{{ .group_2.item_2 }}</a></li>
        <li class="b-footer__list-item"><a href="{{ .group_2.item_3_link }}">{{ .group_2.item_3 }}</a></li>
      </ul>
    </section>

    <section class="b-footer__section">

      {{ partial "language-selector" $page }}

      <ul class="b-footer__list">
        <li class="b-footer__list-item"><a href="{{ .group_3.item_1_link }}">{{ .group_3.item_1 }}</a></li>
        <li class="b-footer__list-item">
          <a href="{{ .group_3.item_2_link }}">{{ .group_3.item_2 }}</a>
        </li>
        <li class="b-footer__list-item"><p>{{ .group_3.item_3 }}</p></li>
      </ul>
    </section>
  </footer>
{{ end }}