<header id="header" class="b-header">
  <div class="b-header__container">
    <a href="/{{ .Site.Language.Lang }}/" aria-label="Kaliriu">
        <img src="https://res.cloudinary.com/drs4ol5tl/image/upload/v1632053349/assets/logo-white_yhk0tw.svg" class="b-header__logo-white" role="presentation" />
        <img src="{{ .Site.Params.logo }}" class="b-header__logo" role="presentation" />
    </a>

    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>

    <ul class="b-header-nav">
      {{ $currentPage := . }}
      {{ $currentMenu := (print "main_" (.Site.Language.Lang))}}
      {{ range (index .Site.Menus $currentMenu) }}
        <li class="b-header-nav__list-item">
          <a class="b-header-nav__list-link {{ if $currentPage.IsMenuCurrent $currentMenu . }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
        </li>
      {{ end }}
      {{ range.Site.Menus.main }}
      <li class="b-header-nav__list-item">
        <a class="b-header-nav__list-link" href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
      

    </ul>
    <ul>
      {{- $currentPage := . -}}
      {{ range .Site.Menus.main -}}
      <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
          <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
      </li>
      {{- end }}
  </ul>

  </div>
</header>
