{{ if .IsTranslated }}
  <div class="b-footer__language-selector" onclick="void(0)">
    <div class="b-footer__current-language">{{ .Language.LanguageName }}</div>
    <ul class="b-footer__available-languages">
      {{ $currentLanguage := .Language }}
      {{ range .AllTranslations }}
        {{ if not (eq .Language $currentLanguage) }}
          <li class="b-footer__language-item"><a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
{{ end }}
