{{ with (index .Site.Data .Site.Language.Lang).perks }}
<div class="b-translations-perks__background">
    <div class="b-translations-perks__container">
        <h2 class="b-translations-perks__title">{{ .title }}</h2>
        <ul class="b-translations-perks__list">
            <li>
                <div></div>
                <div>
                    <h3>{{ .subtitle_1 }}</h3>
                    <p>
                        {{ .description_1 }}
                    </p>
                </div>
            </li>
            <li>
                <div></div>
                <div>
                    <h3>{{ .subtitle_2 }}</h3>
                    <p>
                        {{ .description_2 }}
                    </p> 
                </div>
            </li>
            <li>
                <div></div>
                <div>
                    <h3>{{ .subtitle_3 }}</h3>
                    <p>
                        {{ .description_3 }}
                    </p>
                </div>
            </li>
            <li>
                <div></div>
                <div>
                    <h3>{{ .subtitle_4 }}</h3>
                    <p>
                        {{ .description_4 }}
                    </p>   
                </div>
            </li>
        </ul>
    </div>
</div>
{{ end }}