{{ with (index .Site.Data .Site.Language.Lang).services }}
<section class="b-services__background">
    <div class="b-services__container">
        <h2 class="b-services__title">{{ .title }}</h2>
        <ul class="b-services__list">
            {{ range . }}
                {{ if (reflect.IsMap .) }}
                    <li class="b-services__list-item">
                        <div class="b-services__image">
                            <img alt="{{ .title }}" title="{{ .title }}" src="{{ .image | relURL }}">
                        </div>
                        <div>
                            <p class="b-services__subtitle">{{ .title }}</p>
                            <p class="b-services__text">{{ .description }}</p>
                        </div>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
        <a href="{{ .link }}" class="b-services__button">{{ .text }}</a>
    </div>
</section>
{{ end }}
