</main>
<footer class="b-footer">
	<div class="b-footer__container">
		<a class="b-footer__logo" href="{{ .Site.BaseURL }}">
			{{ .Site.Title }}
		</a>
		<div class="b-footer__container-links">
			<div class="b-footer__links">
				<p>Follow</p>
				<a href="https://www.instagram.com/paloma_chiara/" target="_blank">Instagram</a>
				<a href="https://www.pinterest.com/paloma_chiara/" target="_blank">Pinterest</a>
			</div>
			<div class="b-footer__links">
				<p>Legal</p>
				<a href="/privacy-policy">Privacy Policy</a>
				<a href="/terms-and-conditions">Terms & Conditions</a>
			</div>
			<div class="b-footer__links">
				<p>Contact</p>
				<a href="mailto:hello@palomachiara.com">Hello@palomachiara.com</a>
				<a href="/contact">Contact Form</a>
			</div>
		</div>
	</div>
</footer>
<script type="text/javascript" src="/js/scripts.js"></script>
</body>
</html>
