<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<meta property="og:title" content="{{ .Title }}">
	<meta property="og:description" content="{{ .Params.meta_description }}">
	<meta property="og:image" content="{{ .Params.image }}">
	<meta property="og:image:secure_url" content="{{ .Params.image }}">
	<meta property="og:url" content="{{ .Permalink }}">
	<meta property="og:site_name" content="Paloma Chiara">
	<meta property="og:type" content="website">
  
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{{ .Title }}">
	<meta name="twitter:description" content="{{ .Params.meta_description }}">
  
	<meta name="description" content="{{ .Params.meta_description }}">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-HQ5R8077HF"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-HQ5R8077HF');
	</script>

	<!-- Hotjar Tracking Code for palomachiara.com -->
	<script>
		(function(h,o,t,j,a,r){
			h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
			h._hjSettings={hjid:2185918,hjsv:6};
			a=o.getElementsByTagName('head')[0];
			r=o.createElement('script');r.async=1;
			r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
			a.appendChild(r);
		})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
	</script>

	<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"  rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
	<link rel="icon" href="https://res.cloudinary.com/ddtcgm4kc/image/upload/v1606671140/favicon.ico" type="image/x-icon">

	{{ with .OutputFormats.Get "rss" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

</head>

<body>

{{ partial "cookies" . }}

{{ partial "nav.html" . }}

<main class="content">
