<div class="b-instagram__background">
  <div class="b-instagram__container">
      <p class="b-instagram__title">Follow me <br>on Instagram</p>
      <a href="https://www.instagram.com/virino_designs/" target="_blank" class="b-instagram__photo" style="background-image: url(https://res.cloudinary.com/ddtcgm4kc/image/upload/v1606605965/wqe_x8ap6d.jpg);">
          <p class="b-instagram__subtitle">Follow my art account <span>@virino_designs</span></p>
      </a>
      <a href="https://www.instagram.com/paloma_chiara/" target="_blank" class="b-instagram__photo" style="background-image: url(https://res.cloudinary.com/ddtcgm4kc/image/upload/v1606664320/bv_xxxsbs.jpg);">
          <p class="b-instagram__subtitle">Follow my main account <span>@paloma_chiara</span></p>
      </a>
  </div>
</div>