:root {
  --primary: #4A00E0;
  --secondary: #8E2DE2;
  --terciary: #F1EFF5;
  --white: #FFF;
  --gray: #212121;
  --black: #000;
}
body {
  background-color: var(--terciary);
  margin: 0;
}
* {
  box-sizing: border-box;
  font-family: 'Poppins', 'Montserrat', sans-serif;
  font-size: 100%;
  font-variant-ligatures: none;
  font-weight: 500;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-font-variant-ligatures: none;
  -webkit-text-size-adjust: 100%;
  color: var(--gray);
  letter-spacing: .5px;
}
ul,
ol{
  list-style: none;
}

/* BACKGROUND COLOR */
.home-page__hero-background {
  background-color: var(--primary);
}
.home-page__background-gradient{
  background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
}

/* CONTAINER */
.home-page__benefits-container,
.home-page__product-container,
.header__container,
.home-page__hero-container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

/* BUTTON */
.home-page__product-btn{
  letter-spacing: .5px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  padding: 10px 20px;
  display: inline-block;
  transition: 0.5s;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 14px rgba(var(--primary), 0.25);
}
/* Primary */
.popup-button {
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  color: var(--white);
  background-size: 200% auto;
}
.b-services__button:hover,
html[lang=es] .popup-button:hover::before,
.popup-button:hover {
  transition: 0.5s;
  background-position: right center;
}
/* Secondary */
.home-page__product-btn {
  background-color: var(--white);
  color: var(--primary);
}
.home-page__product-btn:hover {
  transition: 0.5s;
  background-color: var(--primary);
  color: var(--white);
}

/* PRIMARY TITLE */
.home-page__hero-title,
h1 {
  color: var(--primary);
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.1;
}

/* SECONDARY TITLE */
.home-page__product-title {
  color: var(--primary);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.1;
}

/* TERCIARY TITLE */
h3 {
  color: var(--primary);
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  letter-spacing: 1px;
}

/* SUBTITLE */
.home-page__hero-p {
  color: var(--primary);
  font-weight: 600;
  font-size: 25px;
  line-height: 1.3;
}

/* PARAGRAPH - LARGE */
p {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: .5px;
  line-height: 1.2;
}

/* PARAGRAPH - SMALL */
p {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: .3px;
  line-height: 1.9;
}

/* PARAGRAPH - EXTRA SMALL */
p {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .3px;
  line-height: 1.5;
}

/* White */
.home-page__hero-p,
.home-page__product-title,
.home-page__hero-title{
  color: var(--white);
}
/* Center */
.home-page__product-container,
.home-page__hero-p,
.home-page__product-title,
.home-page__hero-title{
  text-align: center;
}

/* PARTIAL - HEADER ********************************/
.header {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: transparent;
}
#header.fade-in{
  background-color: var(--white);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgb(var(--primary), .5);
}
.header__logo{
  display: none;
}
#header.fade-in .header__logo-white{
  display: none;
}
#header.fade-in .header__logo{
  display: block;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
.header__container > a{
  display: flex;
}
.header__logo-white,
.header__logo {
  height: 44px;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.header-nav__list-item {
  padding-left: 30px;
}
.header-nav__list-link {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--white);
}
#header.fade-in .header-nav__list-link{
  color: var(--primary);
}
.menu-icon {
  cursor: pointer;
  display: none;
  float: right;
  position: relative;
  margin-left: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.menu-icon .navicon {
  background: var(--white);
  display: block;
  height: 3px;
  position: relative;
  transition: background .2s ease-out;
  width: 36px;
  border-radius: 100px;
}
.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background: var(--white);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
  border-radius: 100px;
}
.menu-icon .navicon:before {
  top: 10px;
}
.menu-icon .navicon:after {
  top: -10px;
}
.menu-btn {
  display: none;
}
.menu-btn:checked ~ .header-nav {
  margin-top: 0;
  visibility: visible;
}
#header.fade-in .menu-icon .navicon,
#header.fade-in .menu-icon .navicon:before,
#header.fade-in .menu-icon .navicon:after{
  background: var(--primary);
}
#header.fade-in .menu-btn:checked ~ .menu-icon .navicon,
.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
.language-selector {
  margin-left: 30px;
  background-color: var(--white);
  background-position: calc(100% - 8px) center;
  background-size: 13px;
  background-repeat: no-repeat;
  border: 2px solid var(--primary);
  border-radius: 40px;
  padding: 4px 30px 4px 12px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.language-selector:hover {
  background-image: none;
  border-radius: 20px 20px 0 0;
}
.language-item a,
.current-language {
  color: var(--primary);
  cursor: pointer;
  font-size: 16px;
}
.available-languages {
  background-color: var(--white);
  border: 2px solid var(--primary);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: none;
  display: none;
  left: -2px;
  padding: 8px 12px;
  position: absolute;
  width: calc(100% + 4px);
}
.language-selector:hover
.available-languages {
  display: block;
}


/* PARTIAL - COOKIES ********************************/
.b-cookie {
  display: none;
  box-shadow: 0 1px 20px -5px rgba(56, 112, 224,.25), 0 2px 9px -8px rgba(56, 112, 224,.3), 0 -6px 16px -6px rgba(56, 112, 224,.025);
  background-color: #f9f9fa;
  padding: 30px;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 12px;
  z-index: 999;
}
.is-noConsent .b-cookie {
  display: block;
}
.b-cookie__text {
  margin-bottom: 20px;
}

/* PAGE - BASIC ********************************/
.b-basic-page__background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
}
.b-basic-page__container {
  max-width: 960px;
  width: 100%;
  margin: auto;
  padding: 55px 20px;
}
.b-basic-page__title {
  margin: 0 auto 35px;
}
.b-basic-page__subtitle {
  margin-bottom: 0;
}

/* PAGE - HOMEPAGE ********************************/
.home-page__hero-background{
  background-image: url("https://res.cloudinary.com/ddtcgm4kc/image/upload/v1649278408/Kaliriu/Design/back.svg");
  background-position: bottom;
  background-size: contain;
  height: 100vh;
  background-repeat-y: no-repeat;
  position: relative;
  z-index: 0;
  /*background-attachment: fixed;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page__hero-background:after{
  content: '';
  background-image: url("https://res.cloudinary.com/ddtcgm4kc/image/upload/v1649278408/Kaliriu/Design/front.svg");
  background-position: bottom;
  background-size: contain;
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat-y: no-repeat;
  z-index: 9;
}
.home-page__hero-container{
  padding: 44px 20px;
  position: fixed;
  left: 0;
  right: 0;
  top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 700px;
}
.home-page__hero-title{
  margin: 0 0 20px;
  font-size: 64px;
  z-index: -1;
}
.home-page__background-gradient{
  position: relative;
  z-index: 2;
}
.home-page__product-container{
  padding: 24px 20px 44px;
}
.home-page__benefits-container{
  padding: 120px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-page__product-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.home-page__product-list li{
  height: 250px;
  width: 100%;
  border-radius: 12px;
}
.home-page__benefits-background{
  background-image: url('https://res.cloudinary.com/ddtcgm4kc/image/upload/v1649273130/Kaliriu/Design/space.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.home-page__benefits-list{
  display: flex;
  flex-wrap: wrap;
}
.home-page__benefits-list li{
  width: 100%;
  max-width: 50%;
  padding: 20px;
}
.home-page__benefits-list li div{
  padding: 60px 20px 20px 20px;
  background-color: var(--primary);
  border: 2px solid var(--white);
  border-radius: 12px;
}
.home-page__benefits-list li div *{
  color: var(--white);
}

/* MEDIA QUERY ********************************/
@media (max-width: 850px){
  
    /* PARTIAL - HEADER ********************************/
    .header-nav {
      clear: both;
      margin-top: -100%;
      visibility: hidden;
      transition: .2s ease-out;
      position: absolute;
      top: 73px;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: var(--white);
      background-color: rgba(255, 255, 255, 0.85);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
    }
    .header-nav__list-item {
      padding: 10px 0;
      font-size: 20px;
    }
    .header-nav__list-link {
      color: var(--primary);
    }
    .menu-icon {
      display: inline-block;
    }

}