@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?85437781');
  src: url('../font/fontello.eot?85437781#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?85437781') format('woff2'),
       url('../font/fontello.woff?85437781') format('woff'),
       url('../font/fontello.ttf?85437781') format('truetype'),
       url('../font/fontello.svg?85437781#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
$primary: #0e0b2b;
$secondary: #272a8e;
$terciary: #F1EFF5;
$cta: #0097C2;
$auxiliar: #DA5880;
$gray: #1e1e1e;
$white: #ffffff;
body {
  background-color: $terciary;
  margin: 0;
}
* {
  box-sizing: border-box;
  font-family: 'Poppins', 'Montserrat', sans-serif;
  font-size: 100%;
  font-variant-ligatures: none;
  font-weight: 500;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-font-variant-ligatures: none;
  -webkit-text-size-adjust: 100%;
  color: $gray;
  letter-spacing: .5px;
}
ul,
ol{
  list-style: none;
}
a {
  display: inline-block;
}

/* ICONS */
.tab-label *::after,
.form_message::before,
.form_email::before,
.form_name::before,
article#blog ul li::before,
.projects__list li p::after,
.language-selector::after,
i {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  min-width: 10px;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-mail:before { content: '\e800'; }
.icon-down-open:before { content: '\e801'; } 
.icon-up-open:before { content: '\e802'; }
.icon-left-open:before { content: '\e803'; } 
.icon-right-open:before { content: '\e804'; }
.icon-ok:before { content: '\e805'; }
.icon-cancel:before { content: '\e806'; }
.icon-comment:before { content: '\e807'; }
.icon-phone:before { content: '\e808'; }
.icon-user:before { content: '\f061'; }
.icon-link-ext:before { content: '\f08e'; }
.icon-twitter:before { content: '\f309'; }
.icon-facebook:before { content: '\f30c'; } 
.icon-pinterest:before { content: '\f312'; } 
.icon-linkedin:before { content: '\f318'; } 

/* BACKGROUND COLOR */
.faq__background,
.footer__background{
  background-color: $primary;
}
.blog__header-background::after,
.basic-page__background,
.cta__background,
.blog__header-background,
.projects__header-background,
.home-page__hero-background {
  background-color: $secondary;
}
.cookies__background,
.blog__background,
.blog__list-background,
.projects__list-background {
  background-color: $terciary;
}
.home-page__hero-background,
.contact__background,
.home-page__background-gradient{
  background: linear-gradient(to bottom, $primary, $secondary);
}
.blog__list li article a::after,
.home-page__benefits-list li div{
  background-image: linear-gradient(320deg, $primary, $secondary);
}

/* CONTAINER */
.faq__container,
.cookies__container,
.basic-page__container,
.blog__container,
.contact__container,
.blog__list-container,
.projects__list-container,
.blog__header-container,
.projects__header-container,
.footer__container,
.cta__container,
.home-page__steps-container,
.home-page__benefits-container,
.home-page__product-container,
.header__container,
.home-page__hero-container {
  max-width: 1150px;
  width: 100%;
  margin: auto;
}

/* PRIMARY TITLE */
.basic-page__title,
.contact__title,
.blog__header-title,
.projects__header-title{
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 1.3;
}

/* SECONDARY TITLE */
.faq__title,
.home-page__hero-title,
.blog__h2,
.cta__title,
.home-page__steps-title,
.home-page__product-title,
.home-page__benefits-title {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 1.4;
}

/* TERCIARY TITLE */
.blog__h3,
.projects__list li h2,
.blog__list li article a h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.35;
}

/* SUBTITLE */
.blog__h4,
.home-page__steps-list h3,
.home-page__benefits-list div h3 {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 1.4;
}

/* PARAGRAPH - LARGE */
#UI .blog__p,
.contact__p,
.blog__h5{
  font-size: 20px;
  font-weight: 600;
  letter-spacing: .6px;
  line-height: 1.45;
}

/* PARAGRAPH - SMALL */
.tab-label *,
.home-page__hero-p,
.blog__share-title,
.cookies__text,
.cta__p,
.home-page__steps-p,
.home-page__product-p,
.home-page__benefits-p  {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: .4px;
  line-height: 1.6;
}

/* List */
article#blog ol li,
article#blog ul li{
  margin: 0 0 12px;
  padding-left: 30px;
  position: relative;
}
article#blog ol li,
article#blog ul li{
  counter-increment: inst;
  &:before{
    content: '\e804';
    position: absolute;
    left: 0;
    top: 4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 12px;
    background-color: $secondary;
    color: $terciary;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
article#blog ol li::before{
  content: counter(inst);
  line-height: 1;
}

/* PARAGRAPH - EXTRA SMALL */
.tab-content{font-size: 0;}
.tab-checkbox:checked ~ .tab-content,
article#blog ol li,
article#blog ul li,
.projects__list li p,
.blog__p,
.contact__form textarea,
.contact__form input,
.footer__list a,
.footer__p,
.home-page__steps-list p,
.home-page__benefits-list p {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .4px;
  line-height: 1.65;
}

/* White */
.faq__title,
.contact__p,
.basic-page__title,
.projects__list li p,
.projects__list li h2,
.blog__list li article a h2,
.contact__title,
.blog__header-title,
.projects__header-title,
.footer__list a,
.footer__p,
.cta__p,
.cta__title,
.home-page__benefits-list li div *,
.home-page__steps-p,
.home-page__product-p,
.home-page__benefits-p,
.home-page__steps-title,
.home-page__hero-p,
.home-page__product-title,
.home-page__benefits-title,
.home-page__hero-title{
  color: $terciary;
}
/* Primary */
.blog__share-title,
.cookies__text,
.blog__h2,
.blog__h3,
.home-page__steps-list h3{
  color: $primary;
}
/* Gray */
.blog__p{
  color: $gray;
}
/* Center */
.faq__title,
.contact__p,
.blog__list li article a h2,
.blog__share-title,
.contact__title,
.blog__header-title,
.projects__header-title,
.home-page__steps-p,
.home-page__product-p,
.home-page__benefits-p,
.home-page__steps-title,
.home-page__product-container,
.home-page__hero-p,
.home-page__product-title,
.home-page__benefits-title,
.home-page__hero-title{
  text-align: center;
}

/* BUTTON */
.home-page__hero-btn-primary,
.home-page__hero-btn-secondary,
.cookies__button,
.basic-page__btn,
.contact__form button,
.cta__btn,
.home-page__product-btn{
  letter-spacing: .5px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  padding: 10px 20px;
  display: inline-block;
  transition: 0.6s;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 14px rgba($primary, 0.25);
  border: 2px solid transparent;
}
/* Primary */
.home-page__hero-btn-primary,
.cookies__button,
.basic-page__btn,
.contact__form button,
.cta__btn,
.home-page__product-btn {
  background-color: $terciary;
  color: $primary;
  border-color: $primary;
}
.home-page__hero-btn-primary:hover,
.cookies__button:hover,
.basic-page__btn:hover,
.contact__form button:hover,
.cta__btn:hover,
.home-page__product-btn:hover {
  transition: 0.5s;
  background-color: $primary;
  color: $terciary;
  border-color: $terciary;
}

/* Secondary */
.home-page__hero-btn-secondary {
  background-color: $primary;
  color: $terciary;
  border-color: $terciary;
}
.home-page__hero-btn-secondary:hover {
  transition: 0.5s;
  background-color: $terciary;
  color: $primary;
}

/* FORMULARIO ********************************/
.form_message,
.form_email,
.form_name{
  margin: 0 0 20px;
  position: relative;
  width: 100%;
}
.form_message::before,
.form_email::before,
.form_name::before{
  color: $terciary;
  content: '\f061';
  font-size: 16px;
  position: absolute;
  top: 14px;
  left: 16px;
}
.form_email::before{
  content: '\e800';
}
.form_message::before{
  content: '\e807';
}
textarea,
input[type="email"],
input[type="text"]{
  background-color: rgba($terciary, .05);
  border-radius: 0;
  width: 100%;
  padding: 8px 16px 8px 40px;
  border-radius: 12px;
  resize: none;
  appearance: none;
  border: 2px solid $terciary;
  color: $terciary;
}
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px $primary inset;
}
input:-webkit-autofill{
  -webkit-text-fill-color: $terciary;
}
textarea:focus,
input[type="email"]:focus,
input[type="text"]:focus{
  background-color: $primary;
  outline: none;
}
textarea::placeholder,
input[type="email"]::placeholder,
input[type="text"]::placeholder{
  color: $terciary;
  opacity: .8;
}

/* OVERLAY POPUP ********************************/
.popup{
  position: relative;
  .popup_overlay {
    position: fixed;
    overflow: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    background: rgba($primary, 0.8);
    opacity: 0;
    z-index: 999;
    display: none;
    img{
      width: 100%;
      max-width: 850px;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: baseline;
      padding: 20px;
      border-radius: 12px;
    }
  }
}
.popup input{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
.popup input:checked{
  position: fixed;
  + .popup_overlay {
    display: flex;
    opacity: 1;
    display: block;
  }
}



/* PARTIAL - HEADER ********************************/
.header {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  transition: 0.3s;
}
#header.fade-in{
  background-color: $primary;
  border-bottom: 1px solid $secondary;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.header__container > a{
  display: flex;
}
.header__logo-white {
  height: 44px;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.header-nav__list-item {
  padding-left: 30px;
  opacity: .8;
}
.header-nav__list-item{
  &:hover,
  &.active {
    opacity: 1;
    .header-nav__list-link{
      border-bottom: 2px solid $terciary;
    }
  }
}
.header-nav__list-link {
  font-size: 16px;
  color: $terciary;
  border-bottom: 2px solid transparent;
}
.menu-icon {
  cursor: pointer;
  display: none;
  float: right;
  position: relative;
  margin-left: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.menu-icon .navicon {
  background: $terciary;
  display: block;
  height: 3px;
  position: relative;
  transition: background .2s ease-out;
  width: 36px;
  border-radius: 100px;
}
.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background: $terciary;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
  border-radius: 100px;
}
.menu-icon .navicon:before {
  top: 10px;
}
.menu-icon .navicon:after {
  top: -10px;
}
.menu-btn {
  display: none;
}
.menu-btn:checked ~ .header-nav {
  opacity: 1;
  pointer-events: initial;
  transition: opacity .4s;
}
.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
.language-selector {
  margin-left: 30px;
  background-color: rgba($terciary, .15);
  border: 2px solid $terciary;
  border-radius: 40px;
  padding: 4px 30px 4px 12px;
  position: relative;
  cursor: pointer;
}
.language-selector::after {
  content: '\e801';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 12px;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: $terciary;
}
.language-selector:hover::after {
  content: '\e802'; 
}
.language-selector:hover {
  border-radius: 20px 20px 0 0;
}
.language-item a,
.current-language {
  color: $terciary;
  font-size: 16px;
}
.language-item a {
  color: $secondary;
  padding: 4px 12px;
  width: 100%;
}
.language-item a:hover{
  color: $primary;
  text-decoration: underline;
}
.available-languages {
  background-color: $terciary;
  border: 2px solid $terciary;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: none;
  display: none;
  padding: 4px 0;
  position: absolute;
  left: -2px;
  bottom: -75px;
  width: calc(100% + 4px);
}
.language-selector:hover
.available-languages {
  display: block;
}

/* PARTIAL - FOOTER ********************************/
.footer__background{
  position: relative;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-top: 1px solid $primary;
}
.footer__list{
  display: flex;
}
.footer__list li{
  padding-left: 16px;
}
.footer__p,
.footer__list li a{
  font-size: 14px;
  font-weight: 400;
}

/* PARTIAL - COOKIES ********************************/
.cookies__background {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}
.is-noConsent .cookies__background {
  display: block;
}
.cookies__container {
  padding: 20px;
}
.cookies__text {
  margin: 0 0 8px;
}

/* PAGE - BASIC ********************************/
.basic-page__background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
}
.basic-page__container {
  padding: 55px 20px;
}
.basic-page__title{
  margin: 0 0 34px;
}

/* PAGE - HEADERS ********************************/
.contact__background,
.blog__header-background,
.projects__header-background,
.home-page__hero-background{
  padding-top: 64px;
  overflow: hidden;
  position: relative;
}
.contact__container,
.blog__header-container,
.projects__header-container {
  padding: 64px 20px 164px;
  position: relative;
  z-index: 3;
}
.contact__title,
.blog__header-title,
.projects__header-title{
  text-transform: uppercase;
}
.waves {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  z-index: 3;
}
.waves * {
  fill: $terciary;
}
.contact__background .waves *,
.home-page__hero-background .waves *{
  fill: $primary;
}
.waves g use:nth-child(1) {
  opacity: .7;
}
.waves g use:nth-child(2) {
  opacity: .5;
}
.waves g use:nth-child(3) {
  opacity: .3;
}
/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {0% {transform: translate3d(-90px,0,0);}100% { transform: translate3d(85px,0,0);}}
/* PAGE - HOMEPAGE ********************************/
.home-page__hero-background{
  height: 100vh;
  padding-top: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#stars__container,
.blog__header-background::after,
.home-page__hero-background::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.8;
  z-index: 0;
}
.home-page__hero-background::after{
  background: linear-gradient(to bottom, $primary, $auxiliar);
  animation: colorChange 30s ease-in-out infinite;
  animation-fill-mode: both;
  mix-blend-mode: color-dodge;
}
// n is number of stars required
@function multiple-box-shadow ($n) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n{
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF'
  }
  @return unquote($value);
}
$shadows-small:  multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big:    multiple-box-shadow(100);
#stars{
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;
  &:after{
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}
#stars2{
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;
  &:after{
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
} 
#stars3{
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation			: animStar 150s linear infinite;
  &:after{
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
} 
@keyframes animStar{ from {transform: translateY(0px)} to {transform: translateY(-2000px)}}    
@keyframes colorChange { 0%, 100% {opacity: 0;} 50% {opacity: .9;}}
@keyframes slideInFromTop { 0% {transform: translateY(-100%);} 100% {transform: translateY(0);}}
.home-page__hero-container{
  animation: 1s ease-out 0s 1 slideInFromTop;
  padding: 104px 20px 144px;
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
}
.home-page__hero-title{
  margin: 0 0 20px;
  z-index: -1;
}
.home-page__hero-btn{
  display: flex;
  justify-content: center;
  margin-top: 44px;
}
.home-page__hero-btn a:first-of-type{
  margin: 0 18px 0 0;
}
.home-page__background-gradient{
  position: relative;
  z-index: 2;
}
.home-page__product-container{
  padding: 120px 20px 40px;
}
.home-page__benefits-container{
  padding: 90px 20px;
}
.home-page__benefits-list-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-page__benefits-img {
  max-width: 390px;
  width: 100%;
  margin: 0 34px 0 0;
}
.home-page__benefits-title,
.home-page__product-title{
  margin: 0 0 12px;
}
.home-page__product-p,
.home-page__benefits-p {
  margin: 0 0 44px;
}
.home-page__product-btn {
  margin: 64px 0 0;
}
.home-page__steps-background,
.home-page__benefits-background{
  position: relative;
}
.home-page__steps-background::before,
.home-page__benefits-background::before{
  content: '';
  background-image: url('https://res.cloudinary.com/ddtcgm4kc/image/upload/v1649273130/Kaliriu/Design/space.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 100%;
  height: 500px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.home-page__steps-background::before{
  transform: translateY(-50%) rotateY(180deg);
  top: calc(50% - -46px);
}
.home-page__steps-background::after,
.home-page__benefits-background::after{
  content: '';
  background-color: $terciary;
  width: 54%;
  height: 170px;
  position: absolute;
  top: 53%;
  transform: translateY(-50%);
  right: 0;
  border-radius: 50px 0 0 50px;
  z-index: -1;
}
.home-page__steps-background::after{
  right: initial;
  left: 0;
  border-radius: 0 50px 50px 0;
  top: calc(53% - -49px);
}
.home-page__benefits-list{
  width: 100%;
  max-width: 700px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.home-page__benefits-list li div{
  height: 100%;
  padding: 20px;
  border: 2px solid $terciary;
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba($primary, 0.25);
}
.home-page__benefits-list li div img {
  height: 34px;
  width: auto;
  margin: 0 0 8px;
}
.home-page__benefits-list li h3{
  margin: 0 0 4px;
  line-height: 1;
}
.home-page__steps-container{
  padding: 90px 20px;
}
.home-page__steps-title{
  margin: 0 auto 12px;
}
.home-page__steps-list{
  margin: 44px 0 0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.home-page__steps-list li{
  position: relative;
  counter-increment: item;
}
.home-page__steps-list li::before{
  content: counter(item) " ";
  font-size: 100px;
  font-weight: 700;
  color: rgba($primary, 0.09);
  line-height: 1;
  position: absolute;
  left: 10px;
  top: 5px;
  z-index: 2;
}
.home-page__steps-list li div{
  height: 100%;
  padding: 54px 20px 20px 20px;
  background-color: $terciary;
  border: 2px solid $terciary;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba($primary, 0.12);
}
.home-page__steps-list li div h3{
  margin: 0 0 4px;
}

/* PAGE - PROJECTS ********************************/
.projects__list-container{
  padding: 64px 20px 120px;
}
.projects__list,
.home-page__product-list{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.projects__list{
  grid-template-columns: repeat(2,1fr);
}
.projects__list li,
.home-page__product-list li{
  height: 180px;
  width: 100%;
  border-radius: 12px;
  border: 2px solid $white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.projects__list li{
  height: 380px;
  transition: 0.5s;
}
.projects__list li div{
  border-radius: 12px;
  opacity: 0;
  height: 100%;
  background-color: rgba($primary, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* PAGE - BLOG ********************************/
.blog__header-background{
  position: relative;
  background-size: cover;
  background-position: center;
}
.blog__list-container {
  padding: 64px 20px 120px;
}
.blog__list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.blog__list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.blog__list li article a{
  border: 2px solid $white;
  min-height: 250px;
  padding: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog__list li article a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: .75;
  transition: opacity .6s;
  border-radius: 8px;
}
.blog__list li article a:hover::after {
  transition: opacity .6s;
  opacity: 1;
}
.blog__list li article a h2 {
  position: relative;
  z-index: 9;
}
.blog__container {
  padding: 64px 20px 120px;
  display: grid;
  justify-content: space-between;
  align-items: baseline;
  grid-template-columns: minmax(50ch, 70ch) 250px;
  grid-gap: 40px;
}
.blog__p{
  margin: 0 0 12px;
}
.blog__p img{
  width: 100%;
  height: auto;
  display: block;
}
#UI {
  .blog__container{
    display: block;
  }
  .blog__share{
    display: none;
  }
  .blog__p{
    margin: 0 0 28px;
    img{
      margin: 0 0 28px;
      border: 2px solid $terciary;
      border-radius: 12px;
      box-shadow: 0 4px 14px rgba($primary, 0.25);
    }
  }
}
.blog__h2{
  margin: 64px 0 20px;
}
.blog__h3,
.blog__h4{
  margin: 20px 0 12px;
}
article#blog li strong,
.blog__p strong{
  font-weight: 700;
}
.blog__p strong a,
.blog__p a{
  color: $secondary;
  text-decoration: underline;
}
.blog__share{
  position: sticky;
  top: 85px;
  text-align: center;
}
.blog__share-title{
  margin-bottom: 12px;
}
.blog__share-list li{
  margin: 0 0 8px;
}
.blog__share-list li:not(.blog__share-list-banner) a{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $secondary;
  border: 2px solid $secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transition: 0.5s;
}
.blog__share-list li:not(.blog__share-list-banner) a:hover{
  background-color: $terciary;
  transition: 0.5s;
}
.blog__share-list li:not(.blog__share-list-banner) a i{
  font-size: 18px;
  color: $terciary;
}
.blog__share-list li:not(.blog__share-list-banner) a:hover i{
  color: $secondary;
}

/* PAGE - CONTACT ********************************/
.contact__background{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__container{
  padding: 44px 20px 120px;
}
.contact__p{
  margin: 16px 0 44px;
}
.contact__form{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 500px;
  width: 100%;
  margin: 0 auto 0;
}

/* PARTIAL - CTA ********************************/
.cta__background{
  position: relative;
  overflow: hidden;
}
.cta__container{
  padding: 110px 20px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 40px;
}
.cta__p {
  margin: 20px 0 40px;
}
.cta__img {
  height: auto;
  width: 100%;
  max-width: 620px;
  margin: 0 0 0 auto;
}

/* PARTIAL - FAQ ********************************/
.faq__background{
  position: relative;
  z-index: 2;
  border-bottom: 1px solid $secondary;
}
.faq__container{
  padding: 84px 20px;
}
.faq__title{
  margin: 0 0 44px;
}
.tabs {
  display: block;
}
.tab {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid $secondary;
}
.tab-label{
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.2;
  cursor: pointer;
  transition: all .35s;
}
.tab-label *{
  color: $terciary;
  padding: 20px 12px 8px;
  width: 100%;
}
.tab-label *::after{
  content: '\e801';
  color: $terciary;
  font-size: 24px;
  float: right;
}
.tab-content{
  margin-left: -100%;
  opacity: 0;
  transition: all .35s;
  color: $primary;
  background-color: $terciary;
}
.tab-checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab-checkbox:checked + .tab-label *,
.tab-label *:hover{
  transition: all .35s;
  color: $terciary;
  background-color: $secondary;
}
.tab-checkbox:checked + .tab-label *::after {
  content: '\e802';
}
.tab-checkbox:checked + .tab-label *::after,
.tab-label:hover{
  color: $terciary;
}
.tab-checkbox:checked ~ .tab-content{
  padding: 14px 20px;
  margin-left: 0;
  opacity: 1;
}

/* MEDIA QUERY ********************************/

@media (max-width: 1100px){

  /* COLUMNS ********************************/
  .cta__container,
  .home-page__benefits-list-container{
    display: flex;
    flex-direction: column;
  }

  .cta__container{
    text-align: center;
  }
  .cta__img{
    margin: 44px auto 0;
  }

  .home-page__benefits-img {
    margin: 0 auto -33px;
  }
  .home-page__steps-background::before,
  .home-page__benefits-background::before{
    top: 66%;
  }
  .home-page__steps-background::after,
  .home-page__benefits-background::after{
    display: none;
  }

  .projects__list li{
    height: 300px;
  }

}

@media (max-width: 850px){
  
  /* PARTIAL - HEADER ********************************/
  .header-nav {
    clear: both;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
    position: absolute;
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    background-color: rgba($primary, 0.7);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
  .header-nav__list-item{
    padding-left: 0;
  }
  .header-nav__list-link {
    padding: 10px 0;
    font-size: 24px;
  }
  .menu-icon {
    display: inline-block;
    margin-left: 0;
    order: 3;
  }
  .language-selector{
    margin-right: 16px;
    margin-left: auto;
    order: 2;
  }

  /* COLUMNS ********************************/
  .blog__list, 
  .home-page__product-list{
    grid-template-columns: repeat(2,1fr)
  }

  /* BLOG ********************************/
  .blog__container {
    display: block;
  }
  .blog__share-list{
    display: flex;
    justify-content: center;
  }
  .blog__share-list li{
    margin: 0 6px;
  }

  .projects__list li{
    height: 200px;
  }

}

@media (max-width: 650px) {

  /* PRIMARY TITLE */
  .basic-page__title,
  .contact__title,
  .blog__header-title,
  .projects__header-title {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1.3;
  }
  /* SECONDARY TITLE */
  .faq__title,
  .home-page__hero-title,
  .blog__h2,
  .cta__title,
  .home-page__steps-title,
  .home-page__product-title,
  .home-page__benefits-title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.2px;
    line-height: 1.4;
  }
  /* TERCIARY TITLE */
  .blog__h3,
  .projects__list li h2,
  .blog__list li article a h2 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.35;
  }
  /* SUBTITLE */
  .blog__h4,
  .home-page__steps-list h3,
  .home-page__benefits-list div h3 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 1.4;
  }
  /* PARAGRAPH - LARGE */
  #UI .blog__p,
  .blog__h5{
    font-size: 18px;
  }
  /* PARAGRAPH - SMALL */
  .tab-label *,
  .home-page__hero-p,
  .blog__share-title,
  .cookies__text,
  .cta__p,
  .home-page__steps-p,
  .home-page__product-p,
  .home-page__benefits-p {
    font-size: 16px;
  }
  /* PARAGRAPH - EXTRA SMALL */
  .tab-checkbox:checked ~ .tab-content,
  article#blog ol li,
  article#blog ul li,
  .projects__list li p,
  .blog__p,
  .contact__form textarea,
  .contact__form input,
  .footer__list a,
  .footer__p,
  .home-page__steps-list p,
  .home-page__benefits-list p {
    font-size: 14px;
  }

  /* PARTIAL - HEADER ********************************/
  .header__logo-white{
    height: 34px;
  }
  .language-selector {
    padding: 4px 22px 4px 10px;
  }
  .language-selector::after {
    right: 8px;
    font-size: 17px;
  }
  .menu-icon .navicon{
    width: 28px;
  }

  /* COLUMNS ********************************/
  .blog__list,
  .projects__list, 
  .home-page__product-list,
  .home-page__steps-list,
  .home-page__benefits-list {
    grid-template-columns: repeat(1,1fr);
  }
  .footer__container{
    flex-direction: column-reverse;
  }

  .home-page__steps-container {
    padding-top: 32px;
  }

  .home-page__steps-background::before,
  .home-page__benefits-background::before,
  .home-page__steps-background::after,
  .home-page__benefits-background::after{
    display: none;
  }

}

@media (max-width: 400px){

  .home-page__hero-btn a:first-of-type{
    display: none;
  }
  .footer__list{
    flex-direction: column;
    align-items: center;
    margin: 0 0 10px;
  }
  .footer__list li{
    padding-left: 0;
  }
  
}