@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?85437781');
  src: url('../font/fontello.eot?85437781#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?85437781') format('woff2'),
       url('../font/fontello.woff?85437781') format('woff'),
       url('../font/fontello.ttf?85437781') format('truetype'),
       url('../font/fontello.svg?85437781#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
:root {
  --primary: #0f0c29;
  --primary-rgb: 15, 12, 41;
  --secondary: #413a86;
  --terciary: #F1EFF5;
  --terciary-rgb: 241, 239, 245;
  --white: #FFF;
  --gray: #1e1e1e;
  --black: #000;
}
body {
  background-color: var(--terciary);
  margin: 0;
}
* {
  box-sizing: border-box;
  font-family: 'Poppins', 'Montserrat', sans-serif;
  font-size: 100%;
  font-variant-ligatures: none;
  font-weight: 500;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-font-variant-ligatures: none;
  -webkit-text-size-adjust: 100%;
  color: var(--gray);
  letter-spacing: .5px;
}
ul,
ol{
  list-style: none;
}
a {
  display: inline-block;
}

/* ICONS */
.tab-label::after,
.form_message::before,
.form_email::before,
.form_name::before,
article#blog ul li::before,
.projects__list li a p::after,
.language-selector::after,
i {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  min-width: 10px;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-mail:before { content: '\e800'; }
.icon-down-open:before { content: '\e801'; } 
.icon-up-open:before { content: '\e802'; }
.icon-left-open:before { content: '\e803'; } 
.icon-right-open:before { content: '\e804'; }
.icon-ok:before { content: '\e805'; }
.icon-cancel:before { content: '\e806'; }
.icon-comment:before { content: '\e807'; }
.icon-phone:before { content: '\e808'; }
.icon-user:before { content: '\f061'; }
.icon-link-ext:before { content: '\f08e'; }
.icon-twitter:before { content: '\f309'; }
.icon-facebook:before { content: '\f30c'; } 
.icon-pinterest:before { content: '\f312'; } 
.icon-linkedin:before { content: '\f318'; } 

/* BACKGROUND COLOR */
.faq__background,
.footer__background{
  background-color: var(--primary);
}
.basic-page__background,
.cta__background,
.blog__header-background,
.projects__header-background,
.home-page__hero-background {
  background-color: var(--secondary);
}
.cookies__background,
.blog__background,
.blog__list-background,
.projects__list-background {
  background-color: var(--terciary);
}
.contact__background,
.home-page__background-gradient{
  background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
}
.blog__list li article a::after,
.home-page__benefits-list li div{
  background-image: linear-gradient(320deg, var(--primary), var(--secondary));
}

/* CONTAINER */
.faq__container,
.cookies__container,
.basic-page__container,
.blog__container,
.contact__container,
.blog__list-container,
.projects__list-container,
.blog__header-container,
.projects__header-container,
.footer__container,
.cta__container,
.home-page__steps-container,
.home-page__benefits-container,
.home-page__product-container,
.header__container,
.home-page__hero-container {
  max-width: 1150px;
  width: 100%;
  margin: auto;
}

/* PRIMARY TITLE */
.faq__title,
.basic-page__title,
.contact__title,
.blog__header-title,
.projects__header-title,
.home-page__product-title {
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 1.3;
}

/* SECONDARY TITLE */
.home-page__hero-title,
.blog__h2,
.cta__title,
.home-page__steps-title {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 1.4;
}

/* TERCIARY TITLE */
.blog__h3,
.projects__list li a h2,
.blog__list li article a h2 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.35;
}

/* SUBTITLE */
.blog__h4,
.home-page__steps-list h3,
.home-page__benefits-list div h3 {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 1.4;
}

/* PARAGRAPH - LARGE */
.contact__p,
.blog__h5{
  font-size: 20px;
  font-weight: 600;
  letter-spacing: .6px;
  line-height: 1.45;
}

/* PARAGRAPH - SMALL */
.tab-label,
.home-page__hero-p,
.blog__share-title,
.cookies__text,
.cta__p,
.home-page__steps-p {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: .4px;
  line-height: 1.6;
}

/* List */
article#blog ol li,
article#blog ul li{
  margin: 0 0 12px;
  padding-left: 30px;
  position: relative;
}
article#blog ol li{
  counter-increment: inst;
}
article#blog ol li::before,
article#blog ul li::before{
  content: '\e804';
  position: absolute;
  left: 0;
  top: 4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  background-color: var(--secondary);
  color: var(--terciary);
  display: flex;
  justify-content: center;
  align-items: center;
}
article#blog ol li::before{
  content: counter(inst);
}

/* PARAGRAPH - EXTRA SMALL */
.tab-content{font-size: 0;}
.tab-checkbox:checked ~ .tab-content,
article#blog ol li,
article#blog ul li,
.projects__list li a p,
.blog__p,
.contact__form textarea,
.contact__form input,
.footer__list a,
.footer__p,
.home-page__steps-list p,
.home-page__benefits-list p {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .4px;
  line-height: 1.65;
}

/* White */
.faq__title,
.contact__p,
.basic-page__title,
.projects__list li a p,
.projects__list li a h2,
.blog__list li article a h2,
.contact__title,
.blog__header-title,
.projects__header-title,
.footer__list a,
.footer__p,
.cta__p,
.cta__title,
.home-page__benefits-list li div *,
.home-page__steps-p,
.home-page__steps-title,
.home-page__hero-p,
.home-page__product-title,
.home-page__hero-title{
  color: var(--terciary);
}
/* Primary */
.blog__share-title,
.cookies__text,
.blog__h2,
.blog__h3,
.home-page__steps-list h3{
  color: var(--primary);
}
/* Gray */
.blog__p{
  color: var(--gray);
}
/* Center */
.faq__title,
.contact__p,
.blog__list li article a h2,
.blog__share-title,
.contact__title,
.blog__header-title,
.projects__header-title,
.home-page__steps-p,
.home-page__steps-title,
.home-page__product-container,
.home-page__hero-p,
.home-page__product-title,
.home-page__hero-title{
  text-align: center;
}

/* BUTTON */
.home-page__hero-btn-primary,
.home-page__hero-btn-secondary,
.cookies__button,
.basic-page__btn,
.contact__form button,
.cta__btn,
.home-page__product-btn{
  letter-spacing: .5px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  padding: 10px 20px;
  display: inline-block;
  transition: 0.6s;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 14px rgba(var(--primary-rgb), 0.25);
  border: 2px solid transparent;
}
/* Primary */
.home-page__hero-btn-primary,
.cookies__button,
.basic-page__btn,
.contact__form button,
.cta__btn,
.home-page__product-btn {
  background-color: var(--terciary);
  color: var(--primary);
  border-color: var(--primary);
}
.home-page__hero-btn-primary:hover,
.cookies__button:hover,
.basic-page__btn:hover,
.contact__form button:hover,
.cta__btn:hover,
.home-page__product-btn:hover {
  transition: 0.5s;
  background-color: var(--primary);
  color: var(--terciary);
  border-color: var(--terciary);
}

/* Secondary */
.home-page__hero-btn-secondary,
.popup-button {
  background-color: var(--primary);
  color: var(--terciary);
  border-color: var(--terciary);
}
.home-page__hero-btn-secondary:hover,
.popup-button:hover {
  transition: 0.5s;
  background-color: var(--terciary);
  color: var(--primary);
}

/* FORMULARIO ********************************/
.form_message,
.form_email,
.form_name{
  margin: 0 0 20px;
  position: relative;
  width: 100%;
}
.form_message::before,
.form_email::before,
.form_name::before{
  color: var(--terciary);
  content: '\f061';
  font-size: 16px;
  position: absolute;
  top: 14px;
  left: 16px;
}
.form_email::before{
  content: '\e800';
}
.form_message::before{
  content: '\e807';
}
textarea,
input[type="email"],
input[type="text"]{
  background-color: rgb(var(--terciary-rgb), .05);
  border-radius: 0;
  width: 100%;
  padding: 8px 16px 8px 40px;
  border-radius: 12px;
  resize: none;
  appearance: none;
  border: 2px solid var(--terciary);
  color: var(--terciary);
}
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px var(--primary) inset;
}
input:-webkit-autofill{
  -webkit-text-fill-color: var(--terciary);
}
textarea:focus,
input[type="email"]:focus,
input[type="text"]:focus{
  background-color: var(--primary);
  outline: none;
}
textarea::placeholder,
input[type="email"]::placeholder,
input[type="text"]::placeholder{
  color: var(--terciary);
  opacity: .8;
}

/* PARTIAL - HEADER ********************************/
.header {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  transition: 0.3s;
}
#header.fade-in{
  background-color: var(--primary);
  border-bottom: 1px solid var(--secondary);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.header__container > a{
  display: flex;
}
.header__logo-white {
  height: 44px;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.header-nav__list-item {
  padding-left: 30px;
}
.header-nav__list-link {
  font-size: 16px;
  color: var(--terciary);
}
.menu-icon {
  cursor: pointer;
  display: none;
  float: right;
  position: relative;
  margin-left: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.menu-icon .navicon {
  background: var(--terciary);
  display: block;
  height: 3px;
  position: relative;
  transition: background .2s ease-out;
  width: 36px;
  border-radius: 100px;
}
.menu-icon .navicon:before,
.menu-icon .navicon:after {
  background: var(--terciary);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
  border-radius: 100px;
}
.menu-icon .navicon:before {
  top: 10px;
}
.menu-icon .navicon:after {
  top: -10px;
}
.menu-btn {
  display: none;
}
.menu-btn:checked ~ .header-nav {
  opacity: 1;
  pointer-events: initial;
  transition: opacity .4s;
}
.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
.language-selector {
  margin-left: 30px;
  background-color: rgb(var(--terciary-rgb), .15);
  border: 2px solid var(--terciary);
  border-radius: 40px;
  padding: 4px 30px 4px 12px;
  position: relative;
  cursor: pointer;
}
.language-selector::after {
  content: '\e801';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 12px;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: var(--terciary);
}
.language-selector:hover::after {
  content: '\e802'; 
}
.language-selector:hover {
  border-radius: 20px 20px 0 0;
}
.language-item a,
.current-language {
  color: var(--terciary);
  font-size: 16px;
}
.language-item a {
  color: var(--secondary);
  padding: 4px 12px;
  width: 100%;
}
.language-item a:hover{
  color: var(--primary);
}
.available-languages {
  background-color: var(--terciary);
  border: 2px solid var(--terciary);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: none;
  display: none;
  padding: 4px 0;
  position: absolute;
  left: -2px;
  bottom: -42px;
  width: calc(100% + 4px);
}
.language-selector:hover
.available-languages {
  display: block;
}

/* PARTIAL - FOOTER ********************************/
.footer__background{
  position: relative;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-top: 1px solid var(--primary);
}
.footer__list{
  display: flex;
}
.footer__list li{
  padding-left: 16px;
}
.footer__p,
.footer__list li a{
  font-size: 14px;
  font-weight: 400;
}

/* PARTIAL - COOKIES ********************************/
.cookies__background {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}
.is-noConsent .cookies__background {
  display: block;
}
.cookies__container {
  padding: 20px;
}
.cookies__text {
  margin: 0 0 8px;
}

/* PAGE - BASIC ********************************/
.basic-page__background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
}
.basic-page__container {
  padding: 55px 20px;
}
.basic-page__title{
  margin: 0 0 34px;
}

/* PAGE - HEADERS ********************************/
.contact__background,
.blog__header-background,
.projects__header-background,
.home-page__hero-background{
  padding-top: 64px;
  overflow: hidden;
  position: relative;
}
.contact__container,
.blog__header-container,
.projects__header-container {
  padding: 64px 20px 164px;
  position: relative;
  z-index: 3;
}
.contact__title,
.blog__header-title,
.projects__header-title{
  text-transform: uppercase;
}
.waves {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  z-index: 3;
}
.waves * {
  fill: var(--terciary);
}
.contact__background .waves *,
.home-page__hero-background .waves *{
  fill: var(--primary);
}
.waves g use:nth-child(1) {
  opacity: .7;
}
.waves g use:nth-child(2) {
  opacity: .5;
}
.waves g use:nth-child(3) {
  opacity: .3;
}
/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

/* PAGE - HOMEPAGE ********************************/
.home-page__hero-background{
  height: 100vh;
  padding-top: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1617396900799-f4ec2b43c7ae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;
  background-position: bottom;
}
.blog__header-background::after,
.home-page__hero-background::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--secondary);
  opacity: 0.8;
  z-index: 0;
}
@keyframes slideInFromTop { 0% {transform: translateY(-100%);} 100% {transform: translateY(0);}}
.home-page__hero-container{
  animation: 1s ease-out 0s 1 slideInFromTop;
  padding: 104px 20px 144px;
  position: fixed;
  z-index: 3;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
}
.home-page__hero-title{
  margin: 0 0 20px;
  z-index: -1;
}
.home-page__hero-btn{
  display: flex;
  justify-content: center;
  margin-top: 44px;
}
.home-page__hero-btn a:first-of-type{
  margin: 0 18px 0 0;
}
.home-page__background-gradient{
  position: relative;
  z-index: 2;
}
.home-page__product-container{
  padding: 120px 20px 40px;
}
.home-page__benefits-container{
  padding: 90px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-page__benefits-img {
  max-width: 390px;
  width: 100%;
  margin: 0 34px 0 0;
}
.home-page__product-title{
  margin: 0 0 44px;
}
.home-page__product-btn {
  margin: 64px 0 0;
}
.home-page__steps-background,
.home-page__benefits-background{
  position: relative;
}
.home-page__steps-background::before,
.home-page__benefits-background::before{
  content: '';
  background-image: url('https://res.cloudinary.com/ddtcgm4kc/image/upload/v1649273130/Kaliriu/Design/space.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 100%;
  height: 500px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.home-page__steps-background::before{
  transform: translateY(-50%) rotateY(180deg);
  top: calc(50% - -46px);
}
.home-page__steps-background::after,
.home-page__benefits-background::after{
  content: '';
  background-color: var(--terciary);
  width: 54%;
  height: 170px;
  position: absolute;
  top: 53%;
  transform: translateY(-50%);
  right: 0;
  border-radius: 50px 0 0 50px;
  z-index: -1;
}
.home-page__steps-background::after{
  right: initial;
  left: 0;
  border-radius: 0 50px 50px 0;
  top: calc(53% - -49px);
}
.home-page__benefits-list{
  width: 100%;
  max-width: 700px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.home-page__benefits-list li div{
  height: 100%;
  padding: 60px 20px 20px 20px;
  border: 2px solid var(--terciary);
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(var(--primary-rgb), 0.25);
}
.home-page__benefits-list li h3{
  margin: 0 0 4px;
}
.home-page__steps-container{
  padding: 90px 20px 110px;
}
.home-page__steps-title{
  margin: 0 auto 12px;
}
.home-page__steps-list{
  margin: 44px 0 0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.home-page__steps-list li{
  position: relative;
  counter-increment: item;
}
.home-page__steps-list li::before{
  content: counter(item) " ";
  font-size: 100px;
  font-weight: 700;
  color: rgba(var(--primary-rgb), 0.09);
  line-height: 1;
  position: absolute;
  left: 10px;
  top: 5px;
  z-index: 2;
}
.home-page__steps-list li div{
  height: 100%;
  padding: 54px 20px 20px 20px;
  background-color: var(--terciary);
  border: 2px solid var(--terciary);
  border-radius: 12px;
  box-shadow: 0 4px 14px rgba(var(--primary-rgb), 0.25);
}
.home-page__steps-list li div h3{
  margin: 0 0 4px;
}

/* PAGE - PROJECTS ********************************/
.projects__list-container{
  padding: 64px 20px 120px;
}
.projects__list,
.home-page__product-list{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.projects__list{
  grid-template-columns: repeat(2,1fr);
}
.projects__list li,
.home-page__product-list li{
  height: 180px;
  width: 100%;
  border-radius: 12px;
  border: 2px solid var(--terciary);
  box-shadow: 0 4px 14px rgba(var(--primary-rgb), 0.25);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.projects__list li{
  height: 380px;
  transition: 0.5s;
}
.projects__list li a{
  border-radius: 12px;
  opacity: 0;
  height: 100%;
  background-color: rgba(var(--primary-rgb), 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects__list li:hover a{
  opacity: 1;
  transition: 0.5s;
}
.projects__list li a p{
  margin-top: 6px;
  position: relative;
}
.projects__list li a p::after{
  content: '\f08e';
  margin-left: 6px;
}

/* PAGE - BLOG ********************************/
.blog__header-background{
  position: relative;
  background-size: cover;
  background-position: center;
}
.blog__list-container {
  padding: 64px 20px 120px;
}
.blog__list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.blog__list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.blog__list li article a{
  border: 2px solid var(--terciary);
  box-shadow: 0 4px 14px rgba(var(--primary-rgb), 0.25);
  min-height: 250px;
  padding: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog__list li article a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: .65;
  transition: opacity .6s;
  border-radius: 8px;
}
.blog__list li article a:hover::after {
  transition: opacity .6s;
  opacity: .95;
}
.blog__list li article a h2 {
  position: relative;
  z-index: 9;
}
.blog__container {
  padding: 64px 20px 120px;
  display: grid;
  justify-content: space-between;
  align-items: baseline;
  grid-template-columns: minmax(50ch,80ch) 130px;
  grid-gap: 40px;
}
.blog__p{
  margin: 0 0 12px;
}
.blog__h2{
  margin: 64px 0 20px;
}
.blog__h3,
.blog__h4{
  margin: 20px 0 12px;
}
.blog__p strong{
  font-weight: 700;
}
.blog__p strong a,
.blog__p a{
  color: var(--secondary);
  text-decoration: underline;
}
.blog__share{
  position: sticky;
  top: 85px;
  text-align: center;
}
.blog__share-title{
  margin-bottom: 12px;
}
.blog__share-list li{
  margin: 0 0 8px;
}
.blog__share-list li:not(.blog__share-list-banner) a{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transition: 0.5s;
}
.blog__share-list li:not(.blog__share-list-banner) a:hover{
  background-color: var(--terciary);
  transition: 0.5s;
}
.blog__share-list li:not(.blog__share-list-banner) a i{
  font-size: 18px;
  color: var(--terciary);
}
.blog__share-list li:not(.blog__share-list-banner) a:hover i{
  color: var(--secondary);
}

/* PAGE - CONTACT ********************************/
.contact__background{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__container{
  padding: 44px 20px 120px;
}
.contact__p{
  margin: 16px 0 44px;
}
.contact__form{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 500px;
  width: 100%;
  margin: 0 auto 0;
}

/* PARTIAL - CTA ********************************/
.cta__background{
  position: relative;
  overflow: hidden;
}
.cta__container{
  padding: 110px 20px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 40px;
}
.cta__p {
  margin: 20px 0 40px;
}
.cta__img {
  height: auto;
  width: 100%;
  max-width: 620px;
  margin: 0 0 0 auto;
}
#lightings{
	bottom: -60px;
	position: absolute;
	width: 100%;
}
#lightings div{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	height: 20px;
	width: 100%;
	position: relative;
	margin: auto;
}
#one{
	-webkit-animation: one 5s ease-in-out infinite alternate;
	-moz-animation: one 5s ease-in-out infinite alternate;
	-ms-animation: one 5s ease-in-out infinite alternate;
	-o-animation: one 5s ease-in-out infinite alternate;
	animation: one 5s ease-in-out infinite alternate;
}
@-webkit-keyframes one { from {-webkit-box-shadow: 0 0 250px 20px #51C2D5;}to { -webkit-box-shadow: 0 0 100px 15px #151965; }}
@-moz-keyframes one { from {-moz-box-shadow: 0 0 250px 20px #51C2D5;}to { -moz-box-shadow: 0 0 100px 15px #151965; }}
@-o-keyframes one { from {-o-box-shadow: 0 0 250px 20px #51C2D5;}to { -o-box-shadow: 0 0 100px 15px #151965; }}
@keyframes one { from {box-shadow: 0 0 250px 20px #51C2D5;}to {box-shadow: 0 0 100px 15px #151965; }}
#two{
	width: 90%;
	-webkit-animation: two 4s ease-in-out infinite alternate;
	-moz-animation: two 4s ease-in-out infinite alternate;
	-ms-animation: two 4s ease-in-out infinite alternate;
	-o-animation: two 4s ease-in-out infinite alternate;
	animation: two 4s ease-in-out infinite alternate;
}
@-webkit-keyframes two { from {-webkit-box-shadow: 0 0 250px 20px #050953;}to { -webkit-box-shadow: 0 0 100px 15px #7DEDFF; }}
@-moz-keyframes two { from {-moz-box-shadow: 0 0 250px 20px #050953;}to { -moz-box-shadow: 0 0 100px 15px #7DEDFF; }}
@-o-keyframes two { from {-o-box-shadow: 0 0 250px 20px #050953;}to { -o-box-shadow: 0 0 100px 15px #7DEDFF; }}
@keyframes two { from {box-shadow: 0 0 250px 20px #050953;}to { box-shadow: 0 0 100px 15px #7DEDFF; }}
#three{
	width: 80%;
	-webkit-animation: three 3s ease-in-out infinite alternate;
	-moz-animation: three 3s ease-in-out infinite alternate;
	-ms-animation: three 3s ease-in-out infinite alternate;
	-o-animation: three 3s ease-in-out infinite alternate;
	animation: three 3s ease-in-out infinite alternate;
}
@-webkit-keyframes three { from {-webkit-box-shadow: 0 0 250px 20px #516BEB;}to { -webkit-box-shadow: 0 0 100px 15px #84DFFF; }}
@-moz-keyframes three { from {-moz-box-shadow: 0 0 250px 20px #516BEB;}to { -moz-box-shadow: 0 0 100px 15px #84DFFF }}
@-o-keyframes three { from {-o-box-shadow: 0 0 250px 20px #516BEB;}to { -o-box-shadow: 0 0 100px 15px #84DFFF }}
@keyframes three { from {box-shadow: 0 0 250px 20px #516BEB;}to { box-shadow: 0 0 100px 15px #84DFFF }}
#four{
	width: 70%;
	-webkit-animation: four 2s ease-in-out infinite alternate;
	-moz-animation: four 2s ease-in-out infinite alternate;
	-ms-animation: four 2s ease-in-out infinite alternate;
	-o-animation: four 2s ease-in-out infinite alternate;
	animation: four 2s ease-in-out infinite alternate;
}
@-webkit-keyframes four { from {-webkit-box-shadow: 0 0 250px 20px #010038;}to { -webkit-box-shadow: 0 0 100px 15px #85F4FF; }}
@-moz-keyframes four { from {-moz-box-shadow: 0 0 250px 20px #010038;}to { -moz-box-shadow: 0 0 100px 15px #85F4FF; }}
@-o-keyframes four { from {-o-box-shadow: 0 0 250px 20px #010038;}to { -o-box-shadow: 0 0 100px 15px #85F4FF; }}
@keyframes four { from {shadow: 0 0 250px 20px #010038;}to { shadow: 0 0 100px 15px #85F4FF; }}
#five{
	width: 60%;
	-webkit-animation: five 1s ease-in-out infinite alternate;
	-moz-animation: five 1s ease-in-out infinite alternate;
	-ms-animation: five 1s ease-in-out infinite alternate;
	-o-animation: five 1s ease-in-out infinite alternate;
	animation: five 1s ease-in-out infinite alternate;
}
@-webkit-keyframes five { from {-webkit-box-shadow: 0 0 250px 20px #2155CD;} to { -webkit-box-shadow: 0 0 100px 15px #0AA1DD; }}
@-moz-keyframes five { from {-moz-box-shadow: 0 0 250px 20px #2155CD;} to { -moz-box-shadow: 0 0 100px 15px #0AA1DD; }}
@-o-keyframes five { from {-o-box-shadow: 0 0 250px 20px #2155CD;} to { -o-box-shadow: 0 0 100px 15px #0AA1DD; }}
@keyframes five { from {box-shadow: 0 0 250px 20px #2155CD;} to { box-shadow: 0 0 100px 15px #0AA1DD; }}

/* PARTIAL - FAQ ********************************/
.faq__background{
  position: relative;
  z-index: 2;
}
.faq__container{
  padding: 84px 20px;
}
.faq__title{
  margin: 0 0 44px;
}
.tabs {
  overflow: hidden;
}
.tab {
  width: 100%;
  max-width: 50%;
  overflow: hidden;
}
.tab-label{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  padding: 14px 20px;
  cursor: pointer;
  background-color: var(--terciary);
  color: var(--primary);
}
.tab-label::after{
  font-size: 24px;
  content: '\e801';
  transition: all .35s;
}
.tab-content{
  margin-left: -100%;
  opacity: 0;
  transition: all .35s;
  border-radius: 0 0 8px 8px;
  color: var(--primary);
  background-color: var(--terciary);
}
.tab-checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab-checkbox:checked + .tab-label {
  border-radius: 8px 8px 0 0;
  color: var(--terciary);
  background-color: var(--secondary);
}
.tab-checkbox:checked + .tab-label::after {
  content: '\e802';
  color: var(--terciary);
}
.tab-checkbox:checked ~ .tab-content{
  padding: 14px 20px;
  margin-left: 0;
  opacity: 1;
}

/* MEDIA QUERY ********************************/

@media (max-width: 1100px){

  /* COLUMNS ********************************/
  .cta__container,
  .home-page__benefits-container{
    display: flex;
    flex-direction: column;
  }

  .cta__container{
    text-align: center;
  }
  .cta__img{
    margin: 44px auto 0;
  }

  .home-page__benefits-img {
    margin: 0 auto -33px;
  }
  .home-page__steps-background::before,
  .home-page__benefits-background::before{
    top: 66%;
  }
  .home-page__steps-background::after,
  .home-page__benefits-background::after{
    display: none;
  }

  .projects__list li{
    height: 300px;
  }

}

@media (max-width: 850px){
  
    /* PARTIAL - HEADER ********************************/
    .header-nav {
      clear: both;
      opacity: 0;
      pointer-events: none;
      transition: opacity .4s;
      position: absolute;
      top: 55px;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: var(--primary);
      background-color: rgba(var(--primary-rgb), 0.7);
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
    }
    .header-nav__list-item{
      padding-left: 0;
    }
    .header-nav__list-link {
      padding: 10px 0;
      font-size: 24px;
    }
    .menu-icon {
      display: inline-block;
    }

    /* COLUMNS ********************************/
    .blog__list, 
    .home-page__product-list{
      grid-template-columns: repeat(2,1fr)
    }

    /* BLOG ********************************/
    .blog__container {
      display: block;
    }
    .blog__share-list{
      display: flex;
      justify-content: center;
    }
    .blog__share-list li{
      margin: 0 6px;
    }

    .projects__list li{
      height: 200px;
    }

}

@media (max-width: 650px) {

/* PRIMARY TITLE */
.faq__title,
.basic-page__title,
.contact__title,
.blog__header-title,
.projects__header-title,
.home-page__product-title {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 1.3;
}
/* SECONDARY TITLE */
.home-page__hero-title,
.blog__h2,
.cta__title,
.home-page__steps-title {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.2px;
  line-height: 1.4;
}
/* TERCIARY TITLE */
.blog__h3,
.projects__list li a h2,
.blog__list li article a h2 {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.35;
}
/* SUBTITLE */
.blog__h4,
.home-page__steps-list h3,
.home-page__benefits-list div h3 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 1.4;
}
/* PARAGRAPH - LARGE */
.blog__h5{
  font-size: 18px;
}
/* PARAGRAPH - SMALL */
.tab-label,
.home-page__hero-p,
.blog__share-title,
.cookies__text,
.cta__p,
.home-page__steps-p {
  font-size: 16px;
}
/* PARAGRAPH - EXTRA SMALL */
.tab-checkbox:checked ~ .tab-content,
article#blog ol li,
article#blog ul li,
.projects__list li a p,
.blog__p,
.contact__form textarea,
.contact__form input,
.footer__list a,
.footer__p,
.home-page__steps-list p,
.home-page__benefits-list p {
  font-size: 14px;
}

  /* PARTIAL - HEADER ********************************/
  .header__logo-white{
    height: 34px;
  }
  .language-selector {
    margin-left: 16px;
    padding: 4px 22px 4px 10px;
  }
  .language-selector::after {
    right: 8px;
    font-size: 17px;
  }
  .menu-icon .navicon{
    width: 28px;
  }

  /* COLUMNS ********************************/
  .blog__list,
  .projects__list, 
  .home-page__product-list,
  .home-page__steps-list,
  .home-page__benefits-list {
    grid-template-columns: repeat(1,1fr);
  }
  .footer__container{
    flex-direction: column-reverse;
  }

  .home-page__steps-container {
    padding-top: 32px;
  }

  .home-page__steps-background::before,
  .home-page__benefits-background::before,
  .home-page__steps-background::after,
  .home-page__benefits-background::after{
    display: none;
  }

}

@media (max-width: 400px){
  .home-page__hero-btn a:first-of-type{
    display: none;
  }
  .footer__list{
    flex-direction: column;
    align-items: center;
    margin: 0 0 10px;
  }
  .footer__list li{
    padding-left: 0;
  }
}